openapi: 3.2.0
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2604.1.1**

    >

    > Date: **May 13, 2026**

    <div class="notification"> NOTE:<br>Some important API changes will be introduced. Please make sure to read the <a href="https://www.juniper.net/documentation/us/en/software/mist/api/http/guides/important-api-changes">announcements</a> </div>


    ---

    ## Additional Documentation

    * [Mist Automation Guide](https://www.juniper.net/documentation/us/en/software/mist/automation-integration/index.html)

    * [Mist Location SDK](https://www.juniper.net/documentation/us/en/software/mist/location-services/topics/concept/mist-how-get-mist-sdk.html)

    * [Mist Product Updates](https://www.juniper.net/documentation/us/en/software/mist/product-updates/)


    ## Helpful Resources

    * [API Sandbox and Exercises](https://api-class.mist.com/)

    * [Postman Collection, Runners and Webhook Samples](https://www.postman.com/juniper-mist/workspace/mist-systems-s-public-workspace)

    * [Python Script Examples](https://github.com/tmunzer/mist_library)

    * [API Demo Apps](https://apps.mist-lab.fr/)

    * [Juniper Blog](https://blogs.juniper.net/)


    ## Mist Web Browser Extension:

    * Google Chrome, Microsoft Edge and other Chromium-based browser: [Chrome Web Store](https://chromewebstore.google.com/detail/mist-extension/ejhpdcljeamillfhdihkkmoakanpbplh)

    * Firefox: [Firefox Add-ons](https://addons.mozilla.org/en-US/firefox/addon/mist-extension/)


    ---'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2604.1.1
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Global 05
  url: https://api.gc4.mist.com
- description: Mist EMEA 01
  url: https://api.eu.mist.com
- description: Mist EMEA 02
  url: https://api.gc3.mist.com
- description: Mist EMEA 03
  url: https://api.ac6.mist.com
- description: Mist EMEA 04
  url: https://api.gc6.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
- description: Mist APAC 02
  url: https://api.gc5.mist.com
- description: Mist APAC 03
  url: https://api.gc7.mist.com
security:
- apiToken: []
- basicAuth: []
- basicAuth: []
  csrfToken: []
tags:
- name: Mist API
paths: {}
webhooks:
  alarms:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - aps:
                    - string
                    bssids:
                    - string
                    count: 0
                    event_id: a7a26ff2-e851-45b6-9634-d595f45458b7
                    for_site: true
                    id: 489f6eca-6276-4993-bfeb-c3cbbbba1f08
                    last_seen: 0
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    ssids:
                    - string
                    timestamp: 0
                    type: string
                    update: true
                  topic: alarms
            schema:
              $ref: '#/components/schemas/webhook_alarms'
        description: 'Webhook sample for `alarm` topic



          **N.B.**: Fields like `aps`, `bssids`, `ssids` are event specific.

          They are relevant to this event type ( rogue-ap-detected). For a different event type, different fields may be sent.

          These don''t contain all affected entities and are representative samples of entities (capped at 10).

          For marvis action related events, we expose `details` to include more event specific details.



          Events specific fields for other alarm event type can be found with API [List Alarm Definitions](/#operations/listAlarmDefinitions), under \"fields\" array of /alarm_defs response object.'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  asset_raw_rssi:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - ap_loc:
                    - 36.03303862386182
                    - 43.57022468463291
                    - 2.75
                    beam: 8
                    device_id: 00000000-0000-0000-1000-ac2316eca70b
                    ibeacon_major: 2
                    ibeacon_minor: 2121
                    ibeacon_uuid: ac950d7b-af31-42d2-be7c-e15639fab2cd
                    is_asset: true
                    mac: ed2cc53f2770
                    map_id: bd42f0c3-2e6a-4f8a-ac2d-d34e268c1418
                    org_id: 9c3e516c-397d-11e6-ae35-0242ac110008
                    rssi: -79
                    service_packets:
                    - service_data: 010441060606fe3d35700601cecbd902512f000001
                      service_uuid: UUID
                    site_id: 27ea2f07-6fe6-4eab-be1b-b8e3ce083d67
                    timestamp: 1661300746
                  - ap_loc:
                    - 36.03303862386182
                    - 43.57022468463291
                    - 2.75
                    beam: 7
                    device_id: 00000000-0000-0000-1000-ac2316eca70b
                    is_asset: true
                    mac: ed2cc53f2771
                    map_id: bd42f0c3-2e6a-4f8a-ac2d-d34e268c1418
                    mfg_company_id: 243
                    mfg_data: '00000000000000000000000000'
                    org_id: 9c3e516c-397d-11e6-ae35-0242ac110008
                    rssi: -74
                    site_id: 27ea2f07-6fe6-4eab-be1b-b8e3ce083d67
                    timestamp: 1661300746
                  topic: asset-raw-rssi
            schema:
              $ref: '#/components/schemas/webhook_asset_raw_rssi'
        description: "Webhook sample for `asset-raw-rssi` topic.\n\n\nThis webhook topic provides raw data from packets emitted by named and filtered assets.\n\n\nRaw data webhooks are a special subset of webhooks that provide insight into raw data packets emitted by a client,\nidentified by their advertising MAC address (assets, discovered ble, connected wifi, unconnected wifi).  \nThe data that client raw data webhooks encompasses are reporting AP information, RSSI Data, and any special packets/telemetry\npackets that the client may emit.\n\nNote that client raw webhooks are the raw data coming from the client and do not contain the X,Y location data of the client.\nIn order to get the location data for a client please see our location webhooks. \nClients can be identified uniquely across these client raw data topics and location webhook topic using MAC address as the Unique identifier (client identifier)."
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  audits:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - admin_name: admin_name8
                    device_id: 00000380-0000-0000-0000-000000000000
                    id: 0000122a-0000-0000-0000-000000000000
                    message: message0
                    org_id: 00001302-0000-0000-0000-000000000000
                    site_id: 00000290-0000-0000-0000-000000000000
                    src_ip: src_ip6
                    timestamp: 157.68
                  topic: audits
            schema:
              $ref: '#/components/schemas/webhook_audits'
        description: Webhook sample for `audit` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  client_info:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - hostname: service.company.net
                    ip: 21.0.128.151
                    mac: 6ebaa47a3fd4
                    org_id: 0c160b7f-1027-4cd1-923b-744534c4b070
                    site_id: 6e77a2ea-d579-471c-9056-5ff5b4ed70ed
                    timestamp: 1703003296
                  topic: client-info
            schema:
              $ref: '#/components/schemas/webhook_client_info'
        description: Webhook sample for `client-info` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  client_join:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - ap: string
                    ap_name: string
                    band: string
                    bssid: string
                    connect: 0
                    connect_float: 0
                    mac: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    rssi: 0
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    site_name: string
                    ssid: string
                    timestamp: 0
                    version: 0
                    wlan_id: 5028e92b-fc59-4056-91d1-ea4b4ca1617a
                  topic: client-join
            schema:
              $ref: '#/components/schemas/webhook_client_join'
        description: Webhook sample for `client-join` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  client_latency:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - avg_auth: 0.17170219
                    avg_dhcp: 0.017828934
                    avg_dns: 0.024532124
                    max_auth: 0.18170219
                    max_dhcp: 0.027828934
                    max_dns: 0.029532124
                    min_auth: 0.16050219
                    min_dhcp: 0.015828934
                    min_dns: 0.022532124
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    timestamp: 1696401600
                  topic: client-latency
            schema:
              $ref: '#/components/schemas/webhook_client_latency'
        description: Webhook sample for `client-latency` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  client_sessions:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - ap: string
                    ap_name: string
                    band: string
                    bssid: string
                    client_family: string
                    client_manufacture: string
                    client_model: string
                    client_os: string
                    connect: 0
                    connect_float: 0
                    disconnect: 0
                    disconnect_float: 0
                    duration: 0
                    mac: string
                    next_ap: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    rssi: 0
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    site_name: string
                    ssid: string
                    termination_reason: 0
                    timestamp: 0
                    version: 0
                    wlan_id: 5028e92b-fc59-4056-91d1-ea4b4ca1617a
                  topic: client-sessions
            schema:
              $ref: '#/components/schemas/webhook_client_sessions'
        description: Webhook sample for `client-sessions` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  device_events:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - ap: string
                    ap_name: string
                    audit_id: 78c04fa6-cfb4-46a0-9aa5-3681ba4f3897
                    device_name: string
                    device_type: ap
                    ev_type: notice
                    mac: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    reason: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    site_name: string
                    text: string
                    timestamp: 0
                    type: string
                  topic: device-events
            schema:
              $ref: '#/components/schemas/webhook_device_events'
        description: Webhook sample for `device-events` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  device_updowns:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - ap: string
                    ap_name: string
                    for_site: true
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    site_name: string
                    timestamp: 0
                    type: string
                  topic: device-updowns
            schema:
              $ref: '#/components/schemas/webhook_device_updowns'
        description: Webhook sample for `device-updowns` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  discovered_raw_rssi:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - ap_loc:
                    - 0
                    beam: 0
                    device_id: 3bafab7b-4400-4bcf-8e6e-09f954699940
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: 1f89bc00-d0af-481b-82fe-a6629259a39f
                    is_asset: true
                    mac: string
                    map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                    mfg_company_id: string
                    mfg_data: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    rssi: 0
                    service_packets:
                    - service_data: string
                      service_uuid: 7138cc00-c611-4dec-a05e-5c4b1cae13c0
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    timestamp: 0
                  topic: discovered-raw-rssi
            schema:
              $ref: '#/components/schemas/webhook_discovered_raw_rssi'
        description: Webhook sample for `discovered-raw-rssi` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  guest_authorizations:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - ap: 5c5b350e55c8
                    auth_method: passphrase
                    authorized_expiring_time: 1677076639
                    authorized_time: 1677076519
                    carrier: docomo
                    client: ac2316eca70a
                    company: MIST
                    email: abcd@abcd.com
                    field1: field1 value
                    field2: field2 value
                    field3: field3 value
                    field4: field4 value
                    mobile: +0123456789
                    name: Dr Strange
                    org_id: 1688605f-916a-47a1-8c68-f19618300a08
                    site_id: ec3b5624-73f1-4ed3-b3fd-5ba3ee40368a
                    sms_gateway: Telstra
                    sponsor_email: sponsor@gmail.com
                    ssid: Portal Auth
                    wlan_id: 7681be9a-044a-4622-90cf-3accde5ad853
                  topic: guest-authorizations
            schema:
              $ref: '#/components/schemas/webhook_guest_authorizations'
        description: Webhook sample for `guest-authorizations` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  location:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - battery_voltage: 0
                    eddystone_uid_instance: string
                    eddystone_uid_namespace: string
                    eddystone_url_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: 1f89bc00-d0af-481b-82fe-a6629259a39f
                    id: 487f6eca-6276-4993-bfeb-e3cbbbba3f08
                    mac: string
                    map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                    mfg_company_id: 0
                    mfg_data: string
                    name: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    timestamp: 0
                    type: string
                    x: 0
                    y: 0
                  topic: location
            schema:
              $ref: '#/components/schemas/webhook_location'
        description: Webhook sample for `location` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  location_asset:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - battery_voltage: 3370
                    eddystone_uid_instance: 5c5b35000001
                    eddystone_uid_namespace: 2818e3868dec25629ede
                    eddystone_url_url: https://www.abc.com
                    ibeacon_major: 13
                    ibeacon_minor: 138
                    ibeacon_uuid: f3f17139-704a-f03a-2786-0400279e37c3
                    mac: 7fc2936fd243
                    map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    mfg_company_id: 935
                    mfg_data: 648520a1020000
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    timestamp: 1461220784
                    type: asset
                    x: 13.5
                    y: 3.2
                  topic: location-asset
            schema:
              $ref: '#/components/schemas/webhook_location_asset'
        description: Webhook sample for `location-asset` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  location_centrak:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - mac: 5684dae9ac8b
                    map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    timestamp: 1461220784
                    type: wifi
                    wifi_beacon_extended_info:
                    - frame_ctrl: 776
                      payload: '............'
                      seq_ctrl: 772
                    x: 13.5
                    y: 3.2
                  topic: location-centrak
            schema:
              $ref: '#/components/schemas/webhook_location_centrak'
        description: Webhook sample for `location-centrak` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  location_client:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - mac: 5684dae9ac8b
                    map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    timestamp: 1461220784
                    type: wifi
                    wifi_beacon_extended_info:
                    - frame_ctrl: 776
                      payload: '............'
                      seq_ctrl: 772
                    x: 13.5
                    y: 3.2
                  topic: location-client
            schema:
              $ref: '#/components/schemas/webhook_location_client'
        description: Webhook sample for `location-client` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  location_sdk:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - id: de87bf9d-183f-e383-cc68-6ba43947d403
                    map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    name: optional
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    timestamp: 1461220784
                    type: sdk
                    x: 13.5
                    y: 3.2
                  topic: location-sdk
            schema:
              $ref: '#/components/schemas/webhook_location_sdk'
        description: Webhook sample for `location-sdk` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  location_unclient:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - mac: 5684dae9ac8b
                    map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    timestamp: 1461220784
                    type: wifi
                    wifi_beacon_extended_info:
                    - frame_ctrl: 776
                      payload: '............'
                      seq_ctrl: 772
                    x: 13.5
                    y: 3.2
                  topic: location-unclient
            schema:
              $ref: '#/components/schemas/webhook_location_unclient'
        description: Webhook sample for `location-unclient` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  minis_application:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - device_mac: 003e7316fd96
                    ip: 172.217.22.195
                    latency: 74
                    org_id: 8aa21779-1178-4357-b3e0-42c02b93b870
                    probe_name: connectivitycheck.gstatic.com
                    probe_type: application
                    site_id: 2bf12442-1558-41bd-849e-738d6d4aa1a3
                    src_ip: 192.168.1.136
                    success: false
                    test_type: curl
                    timestamp: 1775641319
                    vlan: 1
                  topic: minis-application
            schema:
              $ref: '#/components/schemas/webhook_minis_application'
        description: Webhook sample for `minis-application` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  minis_reachability:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - avg_latency: 12.5
                    device_mac: 7cb68d8f0440
                    loss_percentage: 0
                    max_latency: 15.2
                    min_latency: 10.1
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
                    probe_name: google ping
                    probe_target: google.com
                    probe_type: reachability
                    protocol: icmp
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    test_type: ping
                    timestamp: 1547235620.89
                    vlan: 12
                  topic: minis-reachability
            schema:
              $ref: '#/components/schemas/webhook_minis_reachability'
        description: Webhook sample for `minis-reachability` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  mxedge_events:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - audit_id: 8912e5cb-8ddd-41f7-be5f-476a7abbf658
                    component: null
                    mxedge_id: 00000000-0000-0000-1000-020000230522
                    mxedge_name: demo123
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
                    timestamp: 1763546876.209649
                    type: ME_CONFIG_CHANGED_BY_USER
                  - audit_id: 48efa5bf-d290-4e93-80ca-4dbf72f4187a
                    component: null
                    mxedge_id: 00000000-0000-0000-1000-020000a5fca1
                    mxedge_name: test123
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
                    timestamp: 1763546876.417778
                    type: ME_CONFIG_CHANGED_BY_USER
                  topic: mxedge-events
            schema:
              $ref: '#/components/schemas/webhook_mxedge_events'
        description: Webhook sample for `mxedge-events` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  nac_accounting:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - ap: 5c5b355005be
                    auth_type: eap-tls
                    bssid: 5c5b35546bb4
                    client_ip: 172.16.87.4
                    client_type: wireless
                    mac: 6e795836d5f9
                    nas_vendor: juniper-mist
                    org_id: 625aba64-fe72-4b14-8985-cbf31ec3d78a
                    rx_pkts: 9523
                    site_id: ec9d1e85-af24-43f9-8d65-d620580e8631
                    ssid: Test-CMR SSID
                    timestamp: 1547235620.89
                    tx_pkts: 5233
                    type: NAC_ACCOUNTING_STOP
                    username: hi
                  topic: nac-accounting
            schema:
              $ref: '#/components/schemas/webhook_nac_accounting'
        description: Webhook sample for `nac-accounting` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  nac_events:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - ap: 5c5b35513227
                    auth_type: eap-teap
                    bssid: 5c5b355fafcc
                    dryrun_nacrule_id: 32f27e7d-ff26-4a9b-b3d1-ff9bcb264012
                    dryrun_nacrule_matched: true
                    idp_id: 912ef72e-2239-4996-b81e-469e87a27cd6
                    idp_role:
                    - itsuperusers
                    - vip
                    mac: ac3eb179e535
                    nacrule_id: 32f27e7d-ff26-4a9b-b3d1-ff9bcb264c62
                    nacrule_matched: true
                    nas_vendor: juniper-mist
                    org_id: 27547ac2-d114-4e04-beb1-f3f1e6e81ec6
                    random_mac: 'true'
                    resp_attrs:
                    - Tunnel-Type=VLAN
                    - Tunnel-Medium-Type=IEEE-802
                    - Tunnel-Private-Group-Id=750
                    - User-Name=anonymous
                    site_id: 441a1214-6928-442a-8e92-e1d34b8ec6a6
                    ssid: '##mist_nac'
                    timestamp: 1691512031.358188
                    type: NAC_CLIENT_PERMIT
                    username: user@deaflyz.net
                    vlan: '750'
                  topic: nac-events
            schema:
              $ref: '#/components/schemas/webhook_nac_events'
        description: Webhook sample for `nac-events` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  occupancy_alerts:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - alert_events:
                    - current_occupancy: 0
                      map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                      occupancy_limit: 0
                      org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      timestamp: 0
                      type: COMPLIANCE-VIOLATION
                      zone_id: 4495020a-236f-46e0-9453-e3f9cc6476f4
                      zone_name: string
                    for_site: true
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    site_name: string
                  topic: occupancy-alerts
            schema:
              $ref: '#/components/schemas/webhook_occupancy_alerts'
        description: Webhook sample for `occupancy-alerts` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  ping:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - id: 487f6eca-6276-4993-bfeb-f3cbbbba4f08
                    name: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    timestamp: 0
                  topic: ping
            schema:
              $ref: '#/components/schemas/webhook_ping'
        description: Webhook sample for `ping` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  rssizone:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - mac: 500291xxxxxx
                    map_id: f5d26c7f-1670-4921-xxxx-xxxxxxxxxxxx
                    rssizone_id: e38f8e76-40db-4144-xxxx-xxxxxxxxxxxx
                    site_id: f5fcbee5-fbca-45b3-xxxx-xxxxxxxxxxxx
                    timestamp: 1694158990.986472
                    trigger: enter
                    type: wifi
                  topic: rssizone
            schema:
              $ref: '#/components/schemas/webhook_rssizone'
        description: Webhook sample for `rssizone` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  sdkclient_scan_data:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - connection_ap: 5c5b352f587e
                    connection_band: '2.4'
                    connection_bssid: 5c5b352b51b4
                    connection_channel: 11
                    connection_rssi: -87
                    last_seen: 1592333828
                    mac: 70ef0071535f
                    scan_data:
                    - ap: 5c5b352f587e
                      band: '2.4'
                      bssid: 5c5b352b51b4
                      channel: 11
                      rssi: -87
                      ssid: mist-wifi
                      timestamp: 1592333828
                    - ap: 5c5b352f587e
                      band: '5'
                      bssid: 5c5b352b51b8
                      channel: 36
                      rssi: -75
                      ssid: mist-wifi
                      timestamp: 1592333828
                    site_id: 93986f10-773b-42be-9438-8d3e6d127f1a
                  topic: sdkclient-scan-data
            schema:
              $ref: '#/components/schemas/webhook_sdkclient_scan_data'
        description: Webhook sample for `sdkclient-scan-data` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  site_sle:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    sle:
                      ap-availability: 0.6
                      successful-connect: 0.7
                      time-to-connect: 0.9
                    timestamp: 1694620800
                  topic: site-sle
            schema:
              $ref: '#/components/schemas/webhook_site_sle'
        description: Webhook sample for `site-sle` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  wifi_conn_raw:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - ap_id: ac-23-16-ec-a7-0b
                    ap_loc:
                    - 36.03303862386182
                    - 43.57022468463291
                    - 2.75
                    client_id: 28-f0-76-2d-22-1e
                    connected_site: false
                    map_id: bd42f0c3-2e6a-4f8a-ac2d-d34e268c1418
                    org_id: 9c3e516c-397d-11e6-ae35-0242ac110008
                    packets:
                    - band: 5GHz
                      rssi: -92
                    site_id: 27ea2f07-6fe6-4eab-be1b-b8e3ce083d67
                  - ap_id: ac-23-16-ec-a7-0b
                    ap_loc:
                    - 36.03303862386182
                    - 43.57022468463291
                    - 2.75
                    client_id: 38-f9-d3-99-08-6e
                    connected_site: false
                    extended_info_list:
                    - frame_ctrl: 776
                      payload: 010441060606fe3d35700601cecbd902512f000001
                      sequence_ctrl: 8432
                    map_id: bd42f0c3-2e6a-4f8a-ac2d-d34e268c1418
                    org_id: 9c3e516c-397d-11e6-ae35-0242ac110008
                    packets:
                    - band: 5GHz
                      rssi: -94
                    site_id: 27ea2f07-6fe6-4eab-be1b-b8e3ce083d67
                  topic: wifi-conn-raw
            schema:
              $ref: '#/components/schemas/webhook_wifi_conn_raw'
        description: "Webhook sample for `wifi-conn-raw` topic.\n\n\nThis webhook topic provides raw data from packets emitted by connected devices.\n\n\nRaw data webhooks are a special subset of webhooks that provide insight into raw data packets emitted by a client,\nidentified by their advertising MAC address (assets, discovered ble, connected wifi, unconnected wifi).  \nThe data that client raw data webhooks encompasses are reporting AP information, RSSI Data, and any special packets/telemetry\npackets that the client may emit.\n\nNote that client raw webhooks are the raw data coming from the client and do not contain the X,Y location data of the client.\nIn order to get the location data for a client please see our location webhooks. \nClients can be identified uniquely across these client raw data topics and location webhook topic using MAC address as the Unique identifier (client identifier)."
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  wifi_unconn_raw:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - ap_id: ac-23-16-ec-a7-0b
                    ap_loc:
                    - 36.03303862386182
                    - 43.57022468463291
                    - 2.75
                    client_id: 28-f0-76-2d-22-1e
                    connected_site: false
                    map_id: bd42f0c3-2e6a-4f8a-ac2d-d34e268c1418
                    org_id: 9c3e516c-397d-11e6-ae35-0242ac110008
                    packets:
                    - band: 5GHz
                      rssi: -92
                    site_id: 27ea2f07-6fe6-4eab-be1b-b8e3ce083d67
                  - ap_id: ac-23-16-ec-a7-0b
                    ap_loc:
                    - 36.03303862386182
                    - 43.57022468463291
                    - 2.75
                    client_id: 38-f9-d3-99-08-6e
                    connected_site: false
                    map_id: bd42f0c3-2e6a-4f8a-ac2d-d34e268c1418
                    org_id: 9c3e516c-397d-11e6-ae35-0242ac110008
                    packets:
                    - band: 5GHz
                      rssi: -94
                    site_id: 27ea2f07-6fe6-4eab-be1b-b8e3ce083d67
                  topic: wifi-unconn-raw
            schema:
              $ref: '#/components/schemas/webhook_wifi_unconn_raw'
        description: "Webhook sample for `wifi-unconn-raw` topic.\n\n\nThis webhook topic provides raw data from packets emitted by unconnected devices.\n\n\nRaw data webhooks are a special subset of webhooks that provide insight into raw data packets emitted by a client,\nidentified by their advertising MAC address (assets, discovered ble, connected wifi, unconnected wifi).  \nThe data that client raw data webhooks encompasses are reporting AP information, RSSI Data, and any special packets/telemetry\npackets that the client may emit.\n\nNote that client raw webhooks are the raw data coming from the client and do not contain the X,Y location data of the client.\nIn order to get the location data for a client please see our location webhooks. \nClients can be identified uniquely across these client raw data topics and location webhook topic using MAC address as the Unique identifier (client identifier)."
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
  zone:
    post:
      parameters:
      - in: header
        name: X-Mist-Signature-v2
        schema:
          type: string
      - in: header
        name: X-Mist-Signature
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - id: 487f6eca-6276-4993-bfeb-d3cbbbba2f08
                    map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                    name: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    timestamp: 0
                    trigger: enter
                    type: wifi
                    zone_id: d38f8e76-40db-4144-8cbb-1266c4197811
                  topic: zone
            schema:
              $ref: '#/components/schemas/webhook_zone'
        description: Webhook sample for `zone` topic
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      tags:
      - Mist API
components:
  schemas:
    webhook_location_centrak:
      additionalProperties: false
      description: Sample of the `location-centrak` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_location_centrak_events'
        topic:
          $ref: '#/components/schemas/webhook_location_centrak_topic'
      required:
      - events
      - topic
      type: object
    webhook_nac_events:
      additionalProperties: false
      description: Sample of the `nac-events` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/nac_client_events'
        topic:
          $ref: '#/components/schemas/webhook_nac_events_topic'
      type: object
    webhook_location_topic:
      description: 'enum: `location`'
      enum:
      - location
      type: string
    nac_client_events:
      items:
        $ref: '#/components/schemas/nac_client_event'
      type: array
    webhook_location_asset_topic:
      description: 'enum: `location-asset`'
      enum:
      - location-asset
      type: string
    random_mac:
      description: Whether the client is using randomized MAC Address or not
      enum:
      - 'true'
      - 'false'
      type: string
    webhook_rssizone_events:
      items:
        $ref: '#/components/schemas/webhook_rssizone_event'
      minItems: 1
      type: array
      uniqueItems: true
    webhook_minis_application:
      additionalProperties: false
      description: Sample of the `minis-application` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_minis_application_events'
        topic:
          $ref: '#/components/schemas/webhook_minis_application_topic'
      required:
      - events
      - topic
      type: object
    webhook_wifi_conn_raw_events:
      items:
        $ref: '#/components/schemas/webhook_wifi_conn_raw_event'
      minItems: 1
      type: array
      uniqueItems: true
    org_id:
      examples:
      - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
      format: uuid
      readOnly: true
      type: string
    webhook_audits_topic:
      description: 'enum: `audits`'
      enum:
      - audits
      type: string
    webhook_sdkclient_scan_data_event_scan_data_item:
      additionalProperties: false
      properties:
        ap:
          description: MAC address of the AP associated with the BSSID scanned
          type: string
        band:
          $ref: '#/components/schemas/scan_data_item_band'
        bssid:
          description: BSSID found during client’s background scan for Wi-Fi
          type: string
        channel:
          description: Channel of the band found in the scan
          type: integer
        rssi:
          description: Client's RSSI relative to the BSSID scanned
          type: number
        ssid:
          description: ESSID containing the BSSID scanned
          type: string
        timestamp:
          $ref: '#/components/schemas/timestamp'
      required:
      - ap
      - bssid
      - band
      - channel
      - rssi
      - ssid
      - timestamp
      type: object
    webhook_minis_reachability_events:
      items:
        $ref: '#/components/schemas/webhook_minis_reachability_event'
      type: array
    nac_event_nacrule_id:
      description: NAC Policy Rule ID, if matched
      examples:
      - 32f27e7d-ff26-4a9b-b3d1-ff9bcb264c62
      format: uuid
      readOnly: true
      type: string
    webhook_client_latency_topic:
      description: 'enum: `client-latency`'
      enum:
      - client-latency
      type: string
    device_events:
      items:
        $ref: '#/components/schemas/device_event'
      type: array
      uniqueItems: true
    webhook_site_sle:
      additionalProperties: false
      description: Sample of the `site-sle` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_site_sle_events'
        topic:
          $ref: '#/components/schemas/webhook_site_sle_topic'
      required:
      - events
      - topic
      type: object
    webhook_location_sdk_events:
      description: List of events
      items:
        $ref: '#/components/schemas/webhook_location_sdk_event'
      type: array
    webhook_device_updowns:
      additionalProperties: false
      description: Sample of the `device-updowns` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_device_updowns_events'
        topic:
          $ref: '#/components/schemas/webhook_device_updowns_topic'
      required:
      - events
      - topic
      type: object
    webhook_alarm_event_ssids:
      items:
        type: string
      readOnly: true
      type: array
    webhook_client_info_event:
      additionalProperties: false
      properties:
        hostname:
          description: Hostname of client
          examples:
          - service.company.net
          type: string
        ip:
          description: IP address of client
          type: string
        mac:
          description: client's MAC Address
          type: string
        org_id:
          $ref: '#/components/schemas/org_id'
        site_id:
          $ref: '#/components/schemas/site_id'
        timestamp:
          $ref: '#/components/schemas/timestamp'
      type: object
    nac_client_event_usermac_labels:
      description: Labels derived from usermac entry
      examples:
      - - bldg5
        - printer
      items:
        type: string
      type: array
    service_packets:
      description: List of service data packets heard from the asset/ beacon
      items:
        $ref: '#/components/schemas/service_packet'
      type: array
    nac_event_dryrun_nacrule_id:
      description: NAC Policy Dry Run Rule ID, if present and matched
      examples:
      - 32f27e7d-ff26-4a9b-b3d1-ff9bcb264012
      format: uuid
      readOnly: true
      type: string
    last_seen:
      description: Last seen timestamp
      examples:
      - 1470417522
      format: double
      readOnly: true
      type:
      - number
      - 'null'
    webhook_discovered_raw_rssi:
      additionalProperties: false
      description: Sample of the `discovered-raw-rssi` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_discovered_raw_rssi_events'
        topic:
          $ref: '#/components/schemas/webhook_discovered_raw_rssi_topic'
      required:
      - topic
      type: object
    webhook_nac_accounting_events:
      items:
        $ref: '#/components/schemas/webhook_nac_accounting_event'
      type: array
    webhook_alarms_topic:
      description: 'enum: `alarms`'
      enum:
      - alarms
      type: string
    webhook_zone_topic:
      description: 'enum: `zone`'
      enum:
      - zone
      type: string
    webhook_location_unclient:
      additionalProperties: false
      description: Sample of the `location-unclient` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_location_unclient_events'
        topic:
          $ref: '#/components/schemas/webhook_location_unclient_topic'
      required:
      - events
      - topic
      type: object
    webhook_occupancy_alerts_topic:
      description: 'enum: `occupeancy-alerts`'
      enum:
      - occupancy-alerts
      type: string
    webhook_location_centrak_event_type:
      enum:
      - wifi
      type: string
    wifi_beacon_extended_info_items:
      additionalProperties: false
      properties:
        frame_ctrl:
          description: Frame control field of 802.11 header
          type: integer
        payload:
          description: Extended Info Payload associated with frame
          type: string
        seq_ctrl:
          description: Sequence control field of 802.11 header
          type: integer
      type: object
    webhook_alarm_event:
      additionalProperties: false
      properties:
        aps:
          $ref: '#/components/schemas/webhook_alarm_event_aps'
        bssids:
          $ref: '#/components/schemas/webhook_alarm_event_bssids'
        count:
          description: If present, represents number of events of given type occurred in current interval, default=1
          readOnly: true
          type: integer
        event_id:
          description: Event id
          format: uuid
          readOnly: true
          type: string
        for_site:
          readOnly: true
          type: boolean
        id:
          $ref: '#/components/schemas/id'
        last_seen:
          $ref: '#/components/schemas/last_seen'
        node:
          $ref: '#/components/schemas/ha_cluster_node_enum'
        org_id:
          $ref: '#/components/schemas/org_id'
        site_id:
          $ref: '#/components/schemas/site_id'
        ssids:
          $ref: '#/components/schemas/webhook_alarm_event_ssids'
        timestamp:
          $ref: '#/components/schemas/timestamp'
        type:
          description: Event type
          readOnly: true
          type: string
        update:
          description: If presents, represents that this is an update to event with given id sent earlier. default=false
          readOnly: true
          type: boolean
      required:
      - id
      - org_id
      - site_id
      - timestamp
      - type
      type: object
    webhook_client_latency:
      additionalProperties: false
      description: Sample of the `client-latency` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_client_latency_events'
        topic:
          $ref: '#/components/schemas/webhook_client_latency_topic'
      type: object
    webhook_asset_raw_rssi_event_ap_loc:
      description: optional, coordinates (if any) of reporting AP (updated once in 60s per client)
      items:
        type: number
      type: array
    webhook_wifi_conn_raw_event_extended_info_list:
      description: optional, list of specific telemetry packets emited by certain wifi tags (Eg. Centrak)
      items:
        $ref: '#/components/schemas/webhook_wifi_conn_raw_event_extended_info'
      type: array
    webhook_minis_reachability:
      additionalProperties: false
      description: Sample of the `minis-reachability` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_minis_reachability_events'
        topic:
          $ref: '#/components/schemas/webhook_minis_reachability_topic'
      required:
      - events
      - topic
      type: object
    webhook_client_sessions_events:
      items:
        $ref: '#/components/schemas/webhook_client_sessions_event'
      minItems: 1
      type: array
      uniqueItems: true
    webhook_discovered_raw_rssi_event_ap_loc:
      description: coordinates (if any) of reporting AP (updated once in 60s per client)
      items:
        type: number
      type: array
    webhook_location_unclient_topic:
      description: 'enum: `location-unclient`'
      enum:
      - location-unclient
      type: string
    webhook_device_events_topic:
      description: 'enum: `device-events`'
      enum:
      - device-events
      type: string
    nac_client_event_idp_role:
      examples:
      - - itsuperusers
        - vip
      items:
        type: string
      type: array
    webhook_site_sle_event:
      additionalProperties: false
      properties:
        org_id:
          $ref: '#/components/schemas/org_id'
        site_id:
          $ref: '#/components/schemas/site_id'
        sle:
          $ref: '#/components/schemas/webhook_site_sle_event_sle'
        timestamp:
          $ref: '#/components/schemas/timestamp'
      type: object
    webhook_rssizone:
      additionalProperties: false
      description: Sample of the `rssizone` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_rssizone_events'
        topic:
          $ref: '#/components/schemas/webhook_rssizone_topic'
      required:
      - events
      - topic
      type: object
    ibeacon_minor:
      description: Minor number for iBeacon
      examples:
      - 1234
      maximum: 65535
      minimum: 1
      type:
      - integer
      - 'null'
    webhook_sdkclient_scan_data_events:
      items:
        $ref: '#/components/schemas/webhook_sdkclient_scan_data_event'
      minItems: 1
      type: array
      uniqueItems: true
    ibeacon_major:
      description: Major number for iBeacon
      examples:
      - 1234
      maximum: 65535
      minimum: 1
      type:
      - integer
      - 'null'
    webhook_location_sdk:
      additionalProperties: false
      description: Sample of the `location-sdk` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_location_sdk_events'
        topic:
          $ref: '#/components/schemas/webhook_location_sdk_topic'
      required:
      - events
      - topic
      type: object
    service_packet:
      additionalProperties: false
      properties:
        service_data:
          description: ata from service data
          type: string
        service_uuid:
          description: UUID from service data
          type: string
      type: object
    webhook_nac_accounting_topic:
      description: 'enum: `nac-accounting`'
      enum:
      - nac-accounting
      type: string
    webhook_guest_authorizations:
      additionalProperties: false
      description: Sample of the `guest-authorizations` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_guest_authorizations_events'
        topic:
          $ref: '#/components/schemas/webhook_guest_authorizations_topic'
      type: object
    webhook_asset_raw_rssi_event_service_packet:
      additionalProperties: false
      properties:
        service_data:
          description: optional, data from service data
          type:
          - string
          - 'null'
        service_uuid:
          description: optional, UUID from service data
          type:
          - string
          - 'null'
      type: object
    log_event:
      additionalProperties: false
      properties:
        admin_id:
          description: admin id
          format: uuid
          readOnly: true
          type:
          - string
          - 'null'
        admin_name:
          description: Name of the admin that performs the action
          readOnly: true
          type:
          - string
          - 'null'
        after:
          additionalProperties: true
          description: field values after the change
          readOnly: true
          type: object
        before:
          additionalProperties: true
          description: field values prior to the change
          readOnly: true
          type: object
        device_id:
          description: Device id
          format: uuid
          readOnly: true
          type:
          - string
          - 'null'
        for_site:
          readOnly: true
          type: boolean
        id:
          $ref: '#/components/schemas/id'
        message:
          description: log message
          readOnly: true
          type: string
        org_id:
          $ref: '#/components/schemas/org_id'
        site_id:
          format: uuid
          readOnly: true
          type:
          - string
          - 'null'
        src_ip:
          description: sender source ip address
          type: string
        timestamp:
          $ref: '#/components/schemas/timestamp'
      required:
      - message
      - org_id
      - timestamp
      type: object
    webhook_zone_events:
      description: List of events
      items:
        $ref: '#/components/schemas/webhook_zone_event'
      minItems: 1
      type: array
      uniqueItems: true
    ibeacon_uuid:
      examples:
      - f3f17139-704a-f03a-2786-0400279e37c3
      format: uuid
      type:
      - string
      - 'null'
    webhook_zone_event_trigger:
      description: 'enum: `enter`, `exit`'
      enum:
      - enter
      - exit
      type: string
    device_event:
      additionalProperties: false
      properties:
        ap:
          description: (will be deprecated soon; please use mac instead) ap mac
          type: string
        ap_name:
          description: (will be deprecated soon; please use device_name instead) ap name
          type: string
        apfw:
          type: string
        audit_id:
          $ref: '#/components/schemas/id'
        bandwidth:
          type: integer
        channel:
          type: integer
        chassis_mac:
          type: string
        count:
          type: integer
        device_name:
          description: Device name
          type: string
        device_type:
          $ref: '#/components/schemas/device_type'
        ev_type:
          $ref: '#/components/schemas/webhook_device_events_event_ev_type'
        ext_ip:
          type: string
        mac:
          description: Device mac
          type: string
        model:
          type: string
        node:
          type: string
        org_id:
          $ref: '#/components/schemas/org_id'
        port_id:
          type: string
        power:
          type: integer
        pre_bandwidth:
          type: integer
        pre_channel:
          type: integer
        pre_power:
          type: integer
        pre_usage:
          type: integer
        reason:
          description: (optional) event reason
          type: string
        site_id:
          $ref: '#/components/schemas/site_id'
        site_name:
          description: Site name
          type: string
        text:
          description: (optional) event description
          type: string
        timestamp:
          $ref: '#/components/schemas/timestamp'
        type:
          description: Event type
          type: string
        usage:
          type: integer
        version:
          type: string
      required:
      - org_id
      - timestamp
      - type
      type: object
    webhook_wifi_conn_raw_event_extended_info:
      additionalProperties: false
      properties:
        frame_ctrl:
          type: integer
        payload:
          type: string
        sequence_ctrl:
          type: integer
      type: object
    device_type:
      description: 'enum: `ap`, `gateway`, `switch`'
      enum:
      - ap
      - gateway
      - switch
      type: string
    nac_event_idp_id:
      description: If IDP is used, the id of the IDP configuration used
      examples:
      - 912ef72e-2239-4996-b81e-469e87a27cd6
      format: uuid
      readOnly: true
      type: string
    webhook_client_sessions_event:
      additionalProperties: false
      properties:
        ap:
          description: MAC address of the AP the client roamed or disconnected from
          type: string
        ap_name:
          description: user-friendly name of the AP the client roamed or disconnected from.
          type: string
        band:
          description: 5GHz or 2.4GHz band
          type: string
        bssid:
          type: string
        client_family:
          description: Device family E.g. "Mac", "iPhone", "Apple watch"
          type: string
        client_manufacture:
          description: Device manufacturer E.g. "Apple"
          type: string
        client_model:
          description: Device model E.g. "8+", "XS"
          type: string
        client_os:
          description: Device operating system E.g. "Mojave", "Windows 10", "Linux"
          type: string
        connect:
          description: Time when the user connects
          type: integer
        connect_float:
          description: floating point connect timestamp with millisecond precision
          type: number
        disconnect:
          description: Time when the user disconnects
          type: integer
        disconnect_float:
          description: floating point disconnect timestamp with millisecond precision
          type: number
        duration:
          description: Duration of the roamed or complete session indicated by termination_reason field.
          type: integer
        mac:
          description: Client's MAC Address'
          type: string
        next_ap:
          description: the AP the client has roamed to.
          type: string
        org_id:
          $ref: '#/components/schemas/org_id'
        rssi:
          description: Latest average RSSI before the user disconnects
          type: number
        site_id:
          $ref: '#/components/schemas/site_id'
        site_name:
          type: string
        ssid:
          type: string
        termination_reason:
          description: 1 disassociate - when the client disassociates. 2 inactive - when the client is timeout. 3 roamed - when the client is roamed between APs
          type: integer
        timestamp:
          $ref: '#/components/schemas/timestamp'
        version:
          description: schema version of this message
          type: number
        wlan_id:
          format: uuid
          type: string
      required:
      - ap
      - ap_name
      - band
      - bssid
      - client_family
      - client_manufacture
      - client_model
      - client_os
      - connect
      - connect_float
      - disconnect
      - disconnect_float
      - duration
      - mac
      - next_ap
      - org_id
      - rssi
      - site_id
      - site_name
      - ssid
      - termination_reason
      - timestamp
      - version
      - wlan_id
      type: object
    webhook_occupancy_alert_type:
      description: 'enum: `COMPLIANCE-OK`, `COMPLIANCE-VIOLATION`'
      enum:
      - COMPLIANCE-OK
      - COMPLIANCE-VIOLATION
      type: string
    webhook_occupancy_alerts_event_alert_events_items:
      additionalProperties: false
      properties:
        current_occupancy:
          type: integer
        map_id:
          format: uuid
          type: string
        occupancy_limit:
          type: integer
        org_id:
          $ref: '#/components/schemas/org_id'
        timestamp:
          $ref: '#/components/schemas/timestamp'
        type:
          $ref: '#/components/schemas/webhook_occupancy_alert_type'
        zone_id:
          format: uuid
          type: string
        zone_name:
          type: string
      required:
      - current_occupancy
      - map_id
      - occupancy_limit
      - org_id
      - timestamp
      - type
      - zone_id
      - zone_name
      type: object
    webhook_location_client:
      additionalProperties: false
      description: Sample of the `location-client` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_location_client_events'
        topic:
          $ref: '#/components/schemas/webhook_location_client_topic'
      required:
      - events
      - topic
      type: object
    webhook_client_sessions_topic:
      description: 'enum: `client-sessions`'
      enum:
      - client-sessions
      type: string
    webhook_asset_raw_rssi_event:
      additionalProperties: false
      properties:
        ap_loc:
          $ref: '#/components/schemas/webhook_asset_raw_rssi_event_ap_loc'
        beam:
          description: antenna index, clock-wise starting from the LED
          maximum: 9
          minimum: 1
          type: integer
        device_id:
          $ref: '#/components/schemas/id'
        ibeacon_major:
          $ref: '#/components/schemas/ibeacon_major'
        ibeacon_minor:
          $ref: '#/components/schemas/ibeacon_minor'
        ibeacon_uuid:
          $ref: '#/components/schemas/ibeacon_uuid'
        is_asset:
          type: boolean
        mac:
          description: MAC of the asset/ beacon
          type: string
        map_id:
          $ref: '#/components/schemas/id'
        mfg_company_id:
          description: optional, BLE manufacturing company ID
          type:
          - integer
          - 'null'
        mfg_data:
          description: optional, BLE manufacturing data in hex byte-string format (ie “112233AABBCC”)
          type:
          - string
          - 'null'
        org_id:
          $ref: '#/components/schemas/org_id'
        rssi:
          type: integer
        service_packets:
          $ref: '#/components/schemas/webhook_asset_raw_rssi_event_service_packets'
        site_id:
          $ref: '#/components/schemas/site_id'
        timestamp:
          $ref: '#/components/schemas/timestamp'
      type: object
    webhook_sdkclient_scan_data_event_scan_data:
      items:
        $ref: '#/components/schemas/webhook_sdkclient_scan_data_event_scan_data_item'
      minItems: 1
      type: array
      uniqueItems: true
    nac_auth_type:
      description: 'enum: `cert`, `device-auth`, `eap-teap`, `eap-tls`, `eap-ttls`, `idp`, `mab`, `eap-peap`'
      enum:
      - cert
      - device-auth
      - eap-teap
      - eap-tls
      - eap-ttls
      - idp
      - mab
      - eap-peap
      examples:
      - eap-tls
      type: string
    event_severity:
      enum:
      - normal
      - critical
      - high
      - warning
      type: string
    webhook_zone:
      additionalProperties: false
      description: Sample of the `zone` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_zone_events'
        topic:
          $ref: '#/components/schemas/webhook_zone_topic'
      required:
      - events
      - topic
      type: object
    webhook_device_updowns_events:
      items:
        $ref: '#/components/schemas/webhook_device_updowns_event'
      minItems: 1
      type: array
      uniqueItems: true
    webhook_alarm_event_aps:
      items:
        type: string
      readOnly: true
      type: array
    webhook_discovered_raw_rssi_topic:
      description: 'enum: `discovered-raw-rssi`'
      enum:
      - discovered-raw-rssi
      type: string
    nac_client_event:
      additionalProperties: false
      properties:
        ap:
          description: AP mac
          examples:
          - 5c5b35513227
          type: string
        auth_type:
          $ref: '#/components/schemas/nac_auth_type'
        bssid:
          description: BSSID
          examples:
          - 5c5b355fafcc
          type: string
        client_type:
          $ref: '#/components/schemas/nac_access_type'
        device_mac:
          $ref: '#/components/schemas/nac_device_mac'
        dryrun_nacrule_id:
          $ref: '#/components/schemas/nac_event_dryrun_nacrule_id'
        dryrun_nacrule_matched:
          $ref: '#/components/schemas/nac_event_dryrun_nacrule_matched'
        idp_id:
          $ref: '#/components/schemas/nac_event_idp_id'
        idp_role:
          $ref: '#/components/schemas/nac_client_event_idp_role'
        idp_username:
          $ref: '#/components/schemas/nac_event_idp_username'
        mac:
          $ref: '#/components/schemas/nac_client_mac'
        mxedge_id:
          description: Mist Edge ID used to connect to cloud
          type: string
        nacrule_id:
          $ref: '#/components/schemas/nac_event_nacrule_id'
        nacrule_matched:
          $ref: '#/components/schemas/nac_event_nacrule_matched'
        nas_vendor:
          $ref: '#/components/schemas/nac_event_nas_vendor'
        org_id:
          $ref: '#/components/schemas/org_id'
        port_id:
          $ref: '#/components/schemas/nac_event_port_id'
        port_type:
          $ref: '#/components/schemas/nac_access_type'
        random_mac:
          $ref: '#/components/schemas/random_mac'
        resp_attrs:
          $ref: '#/components/schemas/resp_attrs'
        site_id:
          $ref: '#/components/schemas/site_id'
        ssid:
          $ref: '#/components/schemas/nac_event_ssid'
        timestamp:
          $ref: '#/components/schemas/timestamp'
        type:
          $ref: '#/components/schemas/nac_event_type'
        usermac_label:
          $ref: '#/components/schemas/nac_client_event_usermac_labels'
        username:
          $ref: '#/components/schemas/nac_event_username'
        vlan:
          $ref: '#/components/schemas/nac_event_vlan'
        vlan_source:
          description: Vlan source, e.g. "nactag", "usermac"
          examples:
          - nactag
          type: string
      type: object
    webhook_location_centrak_events:
      description: List of events
      items:
        $ref: '#/components/schemas/webhook_location_centrak_event'
      minItems: 1
      type: array
      uniqueItems: true
    webhook_alarms:
      additionalProperties: false
      description: 'Sample of the `alarms` webhook payload.


        **N.B.**: Fields like `aps`, `bssids`, `ssids` are event specific. They are relevant to this event type ( rogue-ap-detected). For a different event type, different fields may be sent. These don’t contain all affected entities and are representative samples of entities (capped at 10). For marvis action related events, we expose `details` to include more event specific details.


        Events specific fields for other alarm event type can be found with API [List Alarm Definitions#](/#operations/listAlarmDefinitions), under "fields" array of /alarm_defs response object.'
      properties:
        events:
          $ref: '#/components/schemas/webhook_alarms_events'
        topic:
          $ref: '#/components/schemas/webhook_alarms_topic'
      required:
      - events
      - topic
      type: object
    log_events:
      items:
        $ref: '#/components/schemas/log_event'
      type: array
      uniqueItems: true
    webhook_occupancy_alerts_event_alert_events:
      description: List of occupancy alerts for non-compliance zones within the site detected around the same time
      items:
        $ref: '#/components/schemas/webhook_occupancy_alerts_event_alert_events_items'
      minItems: 1
      readOnly: true
      type: array
      uniqueItems: true
    webhook_rssizone_event:
      additionalProperties: false
      properties:
        mac:
          description: Client MAC address
          type: string
        map_id:
          format: uuid
          type: string
        rssizone_id:
          description: RSSI zone name
          format: uuid
          type: string
        site_id:
          $ref: '#/components/schemas/site_id'
        timestamp:
          $ref: '#/components/schemas/timestamp'
        trigger:
          $ref: '#/components/schemas/webhook_zone_event_trigger'
        type:
          $ref: '#/components/schemas/webhook_zone_event_type'
      required:
      - mac
      - map_id
      - rssizone_id
      - site_id
      - timestamp
      - trigger
      - type
      type: object
    nac_event_vlan:
      description: vlan that assigned to the client
      readOnly: true
      type: string
    webhook_wifi_conn_raw_event:
      additionalProperties: false
      properties:
        ap_id:
          type: string
        ap_loc:
          $ref: '#/components/schemas/webhook_wifi_conn_raw_event_ap_loc'
        client_id:
          type: string
        connected_site:
          type: boolean
        extended_info_list:
          $ref: '#/components/schemas/webhook_wifi_conn_raw_event_extended_info_list'
        map_id:
          $ref: '#/components/schemas/id'
        org_id:
          $ref: '#/components/schemas/org_id'
        packets:
          $ref: '#/components/schemas/webhook_wifi_conn_raw_event_packets'
        site_id:
          $ref: '#/components/schemas/site_id'
      type: object
    webhook_minis_application_events:
      items:
        $ref: '#/components/schemas/webhook_minis_application_event'
      type: array
    webhook_mxedge_event_topic:
      description: 'enum: `mxedge-events`'
      enum:
      - mxedge-events
      type: string
    nac_event_nacrule_matched:
      description: NAC Policy Rule Matched
      readOnly: true
      type: boolean
    webhook_occupancy_alerts_events:
      items:
        $ref: '#/components/schemas/webhook_occupancy_alerts_event'
      minItems: 1
      type: array
      uniqueItems: true
    webhook_occupancy_alerts_event:
      additionalProperties: false
      properties:
        alert_events:
          $ref: '#/components/schemas/webhook_occupancy_alerts_event_alert_events'
        for_site:
          readOnly: true
          type: boolean
        site_id:
          $ref: '#/components/schemas/site_id'
        site_name:
          readOnly: true
          type: string
      required:
      - site_id
      - site_name
      type: object
    webhook_ping_events:
      items:
        $ref: '#/components/schemas/webhook_ping_event'
      minItems: 1
      type: array
      uniqueItems: true
    webhook_wifi_unconn_raw_topic:
      description: 'enum: `wifi-unconn-raw`'
      enum:
      - wifi-unconn-raw
      type: string
    webhook_ping_topic:
      description: 'enum: `ping`'
      enum:
      - ping
      type: string
    synthetictest_config_custom_probe_type:
      default: icmp
      description: 'enum: `application`, `curl`, `icmp`, `reachability`, `tcp`'
      enum:
      - application
      - curl
      - icmp
      - reachability
      - tcp
      type: string
    webhook_location_event:
      additionalProperties: false
      properties:
        battery_voltage:
          type: integer
        eddystone_uid_instance:
          type: string
        eddystone_uid_namespace:
          type: string
        eddystone_url_url:
          type: string
        ibeacon_major:
          $ref: '#/components/schemas/ibeacon_major'
        ibeacon_minor:
          $ref: '#/components/schemas/ibeacon_minor'
        ibeacon_uuid:
          $ref: '#/components/schemas/ibeacon_uuid'
        id:
          $ref: '#/components/schemas/id'
        mac:
          type: string
        map_id:
          description: Map id
          format: uuid
          type: string
        mfg_company_id:
          description: Optional, BLE manufacturing company ID
          type: integer
        mfg_data:
          description: Optional, BLE manufacturing data in hex byte-string format (ie "112233AABBCC")
          type: string
        name:
          description: Name of the client, may be empty
          type: string
        site_id:
          $ref: '#/components/schemas/site_id'
        timestamp:
          $ref: '#/components/schemas/timestamp'
        type:
          type: string
        wifi_beacon_extended_info:
          $ref: '#/components/schemas/wifi_beacon_extended_info'
        x:
          description: x, in meter
          format: double
          type: number
        y:
          description: y, in meter
          format: double
          type: number
      required:
      - id
      - map_id
      - site_id
      - timestamp
      - type
      - x
      - y
      type: object
    nac_event_type:
      description: Event type, e.g. NAC_CLIENT_PERMIT. Use the [List NAC Events Definitions](/#operations/listNacEventsDefinitions) endpoint to get the full list of available values.
      examples:
      - NAC_CLIENT_PERMIT
      readOnly: true
      type: string
    mxedge_event_sys_info:
      additionalProperties: false
      properties:
        resource:
          type: string
        severity:
          $ref: '#/components/schemas/event_severity'
      type: object
    webhook_mxedge_events:
      additionalProperties: false
      description: Sample of the `mxedge-events` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/mxedge_events'
        topic:
          $ref: '#/components/schemas/webhook_mxedge_event_topic'
      required:
      - events
      - topic
      type: object
    webhook_device_events:
      additionalProperties: false
      description: Sample of the `device-events` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/device_events'
        topic:
          $ref: '#/components/schemas/webhook_device_events_topic'
      required:
      - events
      - topic
      type: object
    webhook_location_client_event:
      additionalProperties: false
      properties:
        mac:
          examples:
          - 5684dae9ac8b
          type: string
        map_id:
          examples:
          - 845a23bf-bed9-e43c-4c86-6fa474be7ae5
          format: uuid
          type: string
        site_id:
          $ref: '#/components/schemas/site_id'
        timestamp:
          $ref: '#/components/schemas/timestamp'
        type:
          default: wifi
          type: string
        wifi_beacon_extended_info:
          $ref: '#/components/schemas/wifi_beacon_extended_info'
        x:
          description: x, in meter
          examples:
          - 13.5
          format: double
          type: number
        y:
          description: y, in meter
          examples:
          - 3.2
          format: double
          type: number
      type: object
    rx_pkts:
      description: Amount of packets received since connection
      examples:
      - 57770567
      format: int64
      readOnly: true
      type:
      - integer
      - 'null'
    nac_access_type:
      description: 'Type of network access. enum: `wireless`, `wired`, `vty`'
      enum:
      - wireless
      - wired
      - vty
      examples:
      - wireless
      type: string
    webhook_device_updowns_topic:
      description: 'enum: `device-updowns`'
      enum:
      - device-updowns
      type: string
    webhook_client_join_topic:
      description: 'enum: `client-join`'
      enum:
      - client-join
      type: string
    timestamp:
      description: Epoch (seconds)
      format: double
      readOnly: true
      type: number
    webhook_asset_raw_rssi_event_service_packets:
      items:
        $ref: '#/components/schemas/webhook_asset_raw_rssi_event_service_packet'
      type: array
    webhook_nac_events_topic:
      description: 'enum: `nac-events`'
      enum:
      - nac-events
      type: string
    webhook_asset_raw_rssi_topic:
      description: 'enum: `asset-raw-rssi`'
      enum:
      - asset-raw-rssi
      type: string
    webhook_location_client_topic:
      description: 'enum: `location-client`'
      enum:
      - location-client
      type: string
    webhook_location_events:
      description: List of events
      items:
        $ref: '#/components/schemas/webhook_location_event'
      minItems: 1
      type: array
      uniqueItems: true
    webhook_guest_authorizations_topic:
      description: 'enum: `guest-authorizations`'
      enum:
      - guest-authorizations
      type: string
    ha_cluster_node_enum:
      description: 'only for HA. enum: `node0`, `node1`'
      enum:
      - node0
      - node1
      type: string
    webhook_wifi_unconn_raw_events:
      items:
        $ref: '#/components/schemas/webhook_wifi_unconn_raw_event'
      minItems: 1
      type: array
      uniqueItems: true
    mxedge_events:
      items:
        $ref: '#/components/schemas/mxedge_event'
      minItems: 1
      type: array
      uniqueItems: true
    webhook_wifi_conn_raw_event_packets:
      items:
        $ref: '#/components/schemas/webhook_wifi_conn_raw_event_packet'
      type: array
    webhook_sdkclient_scan_data:
      additionalProperties: false
      description: Sample of the `sdkclient-scan-data` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_sdkclient_scan_data_events'
        topic:
          $ref: '#/components/schemas/webhook_sdkclient_scan_data_topic'
      required:
      - topic
      - events
      type: object
    nac_event_nas_vendor:
      description: Vendor name of the NAS
      examples:
      - juniper-mist
      readOnly: true
      type: string
    webhook_client_info:
      additionalProperties: false
      description: Sample of the `client-info` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_client_info_events'
        topic:
          $ref: '#/components/schemas/webhook_client_info_topic'
      type: object
    id:
      description: Unique ID of the object instance in the Mist Organization
      examples:
      - 53f10664-3ce8-4c27-b382-0ef66432349f
      format: uuid
      readOnly: true
      type: string
    nac_event_dryrun_nacrule_matched:
      description: '`true` if dryrun rule present and matched with priority, `false` if not matched or not present'
      readOnly: true
      type: boolean
    webhook_location_unclient_events:
      description: List of events
      items:
        $ref: '#/components/schemas/webhook_location_unclient_event'
      type: array
    webhook_client_latency_event:
      additionalProperties: false
      properties:
        avg_auth:
          examples:
          - 0.17170219
          type: number
        avg_dhcp:
          examples:
          - 0.017828934
          type: number
        avg_dns:
          examples:
          - 0.024532124
          type: number
        max_auth:
          examples:
          - 0.18170219
          type: number
        max_dhcp:
          examples:
          - 0.027828934
          type: number
        max_dns:
          examples:
          - 0.022532124
          type: number
        min_auth:
          examples:
          - 0.16050219
          type: number
        min_dhcp:
          examples:
          - 0.015828934
          type: number
        min_dns:
          examples:
          - 0.029532124
          type: number
        org_id:
          $ref: '#/components/schemas/org_id'
        site_id:
          $ref: '#/components/schemas/site_id'
        timestamp:
          $ref: '#/components/schemas/timestamp'
      type: object
    webhook_minis_reachability_topic:
      description: 'enum: `minis-reachability`'
      enum:
      - minis-reachability
      type: string
    webhook_occupancy_alerts:
      additionalProperties: false
      description: Sample of the `occupancy-alerts` webhook payload.
      properties:
        events:
          $ref: '#/components/schemas/webhook_occupancy_alerts_events'
        topic:
          $ref: '#/components/schemas/webhook_occupancy_alerts_topic'
      required:
      - events
      - topic
      type: object
    wifi_beacon_extended_info:
      description: Optional, list of extended beacon info packets heard from the client, frame and sequence control included with the payload
      items:
        $ref: '#/components/schemas/wifi_beacon_extended_info_items'
      type: array
    webhook_zone_event_type:
      description: 'Type of client. enum: `asset` (BLE Tag), `sdk`, `wifi`'
      enum:
      - asset
      - sdk
      - wifi
      type: string
    webhook_client_info_events:
      items:
        $ref: '#/components/schemas/webhook_client_info_event'
      type: array
    webhook_location_sdk_event:
      additionalProperties: false
      properties:
        id:
          $ref: '#/components/schemas/id'
        map_id:
          examples:
          - 845a23bf-bed9-e43c-4c86-6fa474be7ae5
          format: uuid
          type: string
        name:
          examples:
          - optional
          type: string
        site_id:
          $ref: '#/components/schemas/site_id'
        timestamp:
          $ref: '#/components/schemas/timestamp'
        type:
          default: sdk
          type: string
        x:
          description: x, in meter
          examples:
          - 13.5
          format: double
          type: number
        y:
          description: y, in meter
          examples:
          - 3.2
          format: double
          type: number
      type: object
    webhook_wifi_unconn_raw_event_ap_loc:
      description: optional, coordinates (if any) of reporting AP (updated once in 60s per client)
      items:
        type: number
      type: array
    webhook_location_asset_event:
      additionalProperties: false
      properties:
        battery_voltage:
          examples:
          - 3370
          type: integer
        eddystone_uid_instance:
          examples:
          - 5c5b35000001
          type: string
        eddystone_uid_namespace:
          examples:
          - 2818e3868dec25629ede
          type: string
        eddystone_url_url:
          examples:
          - https://www.abc.com
          type: string
        ibeacon_major:
          $ref: '#/components/schemas/ibeacon_major'
        ibeacon_minor:
          $ref: '#/components/schemas/ibeacon_minor'
        ibeacon_uuid:
          $ref: '#/components/schemas/ibeacon_uuid'
        mac:
          examples:
          - 7fc2936fd243
          type: string
        map_id:
          examples:
          - 845a23bf-bed9-e43c-4c86-6fa474be7ae5
          format: uuid
          type: string
        mfg_company_id:
          description: Optional, BLE manufacturing company ID
          examples:
          - 935
          type: integer
        mfg_data:
          description: 'Optional, BLE manufacturing data in hex byte-string format (ie: "112233AABBCC")'
          examples:
          - 648520a1020000
          type: string
        site_id:
          $ref: '#/components/schemas/site_id'
        timestamp:
          $ref: '#/components/schemas/timestamp'
        type:
          default: asset
          type: string
        x:
          description: x, in meter
          examples:
          - 13.5
          format: double
          type: number
        y:
          description: y, in meter
          examples:
          - 3.2
          format: double
          type: number
      type: object
    webhook_asset_raw_rssi:
      additionalProperties: false
      description: "Sample of the `asset-raw-rssi` webhook payload.\n\n\nThis webhook topic provides raw data from packets emitted by named and filtered assets.\n\n\nRaw data webhooks are a special subset of webhooks that provide insight into raw data packets emitted by a client,\nidentified by their advertising MAC address (assets, discovered ble, connected wifi, unconnected wifi).  \nThe data that client raw data webhooks encompasses are reporting AP information, RSSI Data, and any special packets/telemetry\npackets that the client may emit.\n\nNote that client raw webhooks are the raw data coming from the client and do not contain the X,Y location data of the client.\nIn order to get the location data for a client please see our location webhooks. \nClients can be identified uniquely across these client raw data topics and location webhook topic using MAC address as the Unique identifier (client identifier)."
      properties:
        events:
          $ref: '#/components/schemas/webhook_asset_raw_rssi_events'
        topic:
          $ref: '#/components/schemas/webhook_asset_raw_rssi_topic'
      required:
      - events
      - topic
      type: object
    webhook_wifi_conn_raw_topic:
      description: 'enum: `wifi-conn-raw`'
      enum:
      - wifi-conn-raw
      type: string
    webhook_location_sdk_topic:
      description: 'enum: `location-sdk`'
      enum:
      - location-sdk
      type: string
    webhook_wifi_unconn_raw_event_packet:
      additionalProperties: false
      properties:
        band:
          type: string
        rssi:
          type: integer
      type: object
    webhook_site_sle_event_sle:
      additionalProperties: false
      properties:
        ap-availability:
          examples:
          - 0.6
          type: number
        successful-connect:
          examples:
          - 0.7
          type: number
        time-to-connect:
          examples:
          - 0.9
          type: number
      type: object
    nac_device_mac:
      description: MAC Address of the device (AP, Switch) the client is connected to
      examples:
      - 60c78d8c7f6f
      readOnly: true
      type: string
    webhook_minis_reachability_event:
      additionalProperties: false
      properties:
        avg_latency:
          description: Average latency in milliseconds
          format: double
          type: number
        device_mac:
          description: MAC address of the device performing the test
          examples:
          - 7cb68d8f0440
          type: string
        loss_percentage:
          description: Packet loss percentage
          format: double
          type: number
        max_latency:
          description: Maximum latency in milliseconds
          format: double
          type: number
        min_latency:
          description: Minimum latency in milliseconds
          format: double
          type: number
        org_id:
          $ref: '#/components/schemas/org_id'
        probe_name:
          description: Name of the probe
          examples:
          - google ping
          type: string
        probe_target:
          description: Target host or IP for the probe
          examples:
          - google.com
          type: string
        probe_type:
          description: Type of probe
          examples:
          - reachability
          type: string
        protocol:
          description: Protocol used for the test
          examples:
          - icmp
          type: string
        site_id:
          $ref: '#/components/schemas/site_id'
        test_type:
          description: Type of test performed
          examples:
          - ping
          type: string
        timestamp:
          $ref: '#/components/schemas/timestamp'
        vlan:
          description: VLAN ID used for the test
          examples:
          - 12
          type: integer
      type: object
    webhook_wifi_conn_raw:
      additionalProperties: false
      description: "Sample of the `wifi-conn-raw` webhook payload.\n\n\nThis webhook topic provides raw data from packets emitted by connected devices.\n\n\nRaw data webhooks are a special subset of webhooks that provide insight into raw data packets emitted by a client,\nidentified by their advertising MAC address (assets, discovered ble, connected wifi, unconnected wifi).  \nThe data that client raw data webhooks encompasses are reporting AP information, RSSI Data, and any special packets/telemetry\npackets that the client may emit.\n\nNote that client raw webhooks are the raw data coming from the client and do not contain the X,Y location data of the client.\nIn order to get the location data for a client please see our location webhooks. \nClients can be identified uniquely across these client raw data topics and location webhook topic using MAC address as the Unique identifier (client identifier)."
      properties:
        events:
          $ref: '#/components/schemas/webhook_wifi_conn_raw_events'
        topic:
          $ref: '#/components/schemas/webhook_wifi_conn_raw_topic'
      required:
      - events
      - topic
      type: object
    webhook_location_asset_events:
      description: List of events
      items:
        $ref: '#/components/schemas/webhook_location_asset_event'
      type: array
    webhook_minis_application_event:
      additionalProperties: false
      properties:
        device_mac:
          description: MAC address of the device
          type: string
        ip:
          description: IP address test was performed to
          type: string
        latency:
          description: latency in milliseconds
          type: integer
        org_id:
          $ref: '#/components/schemas/org_id'
        probe_name:
          description: Name of the probe
          examples:
          - connectivitycheck.gstatic.com
          type: string
        probe_type:
          description: Type of probe
          examples:
          - application
          type: string
        site_id:
          $ref: '#/components/schemas/site_id'
        src_ip:
          description: Source IP address of the test
          type: string
        success:
          description: Whether the test was successful
          type: boolean
        test_type:
          $ref: '#/components/schemas/synthetictest_config_custom_probe_type'
        timestamp:
          $ref: '#/components/schemas/timestamp'
        vlan:
          description: VLAN ID used for the test
          examples:
          - 12
          type: integer
      type: object
    nac_event_port_id:
      description: Port ID where the NAC client event occurred
      examples:
      - ge-0/0/17.0
      readOnly: true
      type: string
    webhook_location_unclient_event:
      additionalProperties: false
      properties:
        mac:
          examples:
          - 5684dae9ac8b
          type: string
        map_id:
          examples:
          - 845a23bf-bed9-e43c-4c86-6fa474be7ae5
          format: uuid
          type: string
        site_id:
          $ref: '#/components/schemas/site_id'
        timestamp:
          $ref: '#/components/schemas/timestamp'
[...]
