openapi: 3.1.0
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2604.1.1**

    >

    > Date: **May 13, 2026**

    <div class="notification"> NOTE:<br>Some important API changes will be introduced. Please make sure to read the <a href="https://www.juniper.net/documentation/us/en/software/mist/api/http/guides/important-api-changes">announcements</a> </div>


    ---

    ## Additional Documentation

    * [Mist Automation Guide](https://www.juniper.net/documentation/us/en/software/mist/automation-integration/index.html)

    * [Mist Location SDK](https://www.juniper.net/documentation/us/en/software/mist/location-services/topics/concept/mist-how-get-mist-sdk.html)

    * [Mist Product Updates](https://www.juniper.net/documentation/us/en/software/mist/product-updates/)


    ## Helpful Resources

    * [API Sandbox and Exercises](https://api-class.mist.com/)

    * [Postman Collection, Runners and Webhook Samples](https://www.postman.com/juniper-mist/workspace/mist-systems-s-public-workspace)

    * [Python Script Examples](https://github.com/tmunzer/mist_library)

    * [API Demo Apps](https://apps.mist-lab.fr/)

    * [Juniper Blog](https://blogs.juniper.net/)


    ## Mist Web Browser Extension:

    * Google Chrome, Microsoft Edge and other Chromium-based browser: [Chrome Web Store](https://chromewebstore.google.com/detail/mist-extension/ejhpdcljeamillfhdihkkmoakanpbplh)

    * Firefox: [Firefox Add-ons](https://addons.mozilla.org/en-US/firefox/addon/mist-extension/)


    ---'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist Admins Orgs Marvis Invites API
  version: 2604.1.1
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Global 05
  url: https://api.gc4.mist.com
- description: Mist EMEA 01
  url: https://api.eu.mist.com
- description: Mist EMEA 02
  url: https://api.gc3.mist.com
- description: Mist EMEA 03
  url: https://api.ac6.mist.com
- description: Mist EMEA 04
  url: https://api.gc6.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
- description: Mist APAC 02
  url: https://api.gc5.mist.com
- description: Mist APAC 03
  url: https://api.gc7.mist.com
security:
- apiToken: []
- basicAuth: []
- basicAuth: []
  csrfToken: []
tags:
- description: 'Marvis Clients are devices that have the Marvis Android Client installed on them and are connected to a Juniper Mist AP.


    They provide detailed data and telemetry about the client''s wireless connection, including information about roaming behavior, connection type, and wireless properties.'
  name: Orgs Marvis Invites
paths:
  /api/v1/orgs/{org_id}/marvisinvites:
    parameters:
    - $ref: '#/components/parameters/org_id'
    get:
      description: List Org Marvis Client Invites
      operationId: listOrgMarvisClientInvites
      responses:
        '200':
          $ref: '#/components/responses/MarvisClientsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgMarvisClientInvites
      tags:
      - Orgs Marvis Invites
    post:
      description: Create Org Marvis Client Invite. SDK Invites can be generated for (and belongs to) an Org. They can be generated by an Admin of an Org and can be revoked at anytime.
      operationId: createOrgMarvisClientInvite
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  location:
                    enabled: true
                  name: Handhelds
                  synthetic_test:
                    enabled: true
                  telemetry:
                    enabled: true
            schema:
              $ref: '#/components/schemas/marvis_client'
      responses:
        '200':
          $ref: '#/components/responses/MarvisClient'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgMarvisClientInvite
      tags:
      - Orgs Marvis Invites
  /api/v1/orgs/{org_id}/marvisinvites/{marvisinvite_id}:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/marvisinvite_id'
    delete:
      description: Delete Org Marvis Client Invite
      operationId: deleteOrgMarvisClientInvite
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgMarvisClientInvite
      tags:
      - Orgs Marvis Invites
    get:
      description: Get Org Marvis Client Invite
      operationId: getOrgMarvisClientInvite
      responses:
        '200':
          $ref: '#/components/responses/MarvisClient'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgMarvisClientInvite
      tags:
      - Orgs Marvis Invites
    put:
      description: Update Org Marvis Client Invite
      operationId: updateOrgMarvisClientInvite
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  location:
                    enabled: true
                  name: Handhelds
                  synthetic_test:
                    enabled: true
                  telemetry:
                    enabled: true
            schema:
              $ref: '#/components/schemas/marvis_client'
      responses:
        '200':
          $ref: '#/components/responses/MarvisClient'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgMarvisClientInvite
      tags:
      - Orgs Marvis Invites
components:
  schemas:
    id:
      description: Unique ID of the object instance in the Mist Organization
      examples:
      - 53f10664-3ce8-4c27-b382-0ef66432349f
      format: uuid
      readOnly: true
      type: string
    marvis_client_telemetry:
      additionalProperties: false
      description: 'Note: some stats are not collected when it''s not connected to Mist infrastructure'
      properties:
        enabled:
          type: boolean
      type: object
    response_http403:
      additionalProperties: false
      properties:
        detail:
          examples:
          - You do not have permission to perform this action.
          type: string
      type: object
    marvis_client_location:
      additionalProperties: false
      properties:
        enabled:
          type: boolean
      type: object
    response_http404:
      additionalProperties: false
      properties:
        id:
          type: string
      type: object
    marvis_client:
      properties:
        disabled:
          default: false
          type: boolean
        enrollment_url:
          description: In MDM, add `--enrollment_url <enrollment_url>` to the install command
          examples:
          - marvisclient://api.mist.com/path/to/url
          readOnly: true
          type: string
        id:
          $ref: '#/components/schemas/id'
        location:
          $ref: '#/components/schemas/marvis_client_location'
        name:
          examples:
          - Handhelds
          type: string
        synthetic_test:
          $ref: '#/components/schemas/marvis_client_synthetic_test'
        telemetry:
          $ref: '#/components/schemas/marvis_client_telemetry'
      type: object
    marvis_clients:
      items:
        $ref: '#/components/schemas/marvis_client'
      type: array
    response_http400:
      additionalProperties: false
      properties:
        detail:
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
          type: string
      type: object
    response_http429:
      additionalProperties: false
      properties:
        detail:
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          type: string
      type: object
    marvis_client_synthetic_test:
      additionalProperties: false
      properties:
        enabled:
          type: boolean
      type: object
    response_http401:
      additionalProperties: false
      properties:
        detail:
          examples:
          - Authentication credentials were not provided.
          type: string
      type: object
  examples:
    MarvisClientsArrayExample:
      value:
      - enrollment_url: marvisclient://api.mist.com/path/to/url
        id: 3a14098f-b995-7552-b0a4-b8ee39b337a6
        name: Handhelds
    MarvisClientExample:
      value:
        enrollment_url: marvisclient://api.mist.com/path/to/url
        id: 3a14098f-b995-7552-b0a4-b8ee39b337a6
        name: Handhelds
    HTTP400Example:
      value:
        detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
    HTTP403Example:
      value:
        detail: You do not have permission to perform this action.
    HTTP429Example:
      value:
        detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
    HTTP401Example:
      value:
        detail: Authentication credentials were not provided.
  parameters:
    org_id:
      in: path
      name: org_id
      required: true
      schema:
        examples:
        - 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    marvisinvite_id:
      in: path
      name: marvisinvite_id
      required: true
      schema:
        examples:
        - 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
  responses:
    HTTP404:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/response_http404'
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/response_http404'
      description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
    HTTP429:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP429Example'
          schema:
            $ref: '#/components/schemas/response_http429'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP429Example'
          schema:
            $ref: '#/components/schemas/response_http429'
      description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
    HTTP403:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP403Example'
          schema:
            $ref: '#/components/schemas/response_http403'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP403Example'
          schema:
            $ref: '#/components/schemas/response_http403'
      description: Permission Denied
    MarvisClientsArray:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/MarvisClientsArrayExample'
          schema:
            $ref: '#/components/schemas/marvis_clients'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/MarvisClientsArrayExample'
          schema:
            $ref: '#/components/schemas/marvis_clients'
      description: Example response
    HTTP400:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP400Example'
          schema:
            $ref: '#/components/schemas/response_http400'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP400Example'
          schema:
            $ref: '#/components/schemas/response_http400'
      description: Bad Syntax
    OK:
      description: OK
    HTTP401:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP401Example'
          schema:
            $ref: '#/components/schemas/response_http401'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP401Example'
          schema:
            $ref: '#/components/schemas/response_http401'
      description: Unauthorized
    MarvisClient:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/MarvisClientExample'
          schema:
            $ref: '#/components/schemas/marvis_client'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/MarvisClientExample'
          schema:
            $ref: '#/components/schemas/marvis_client'
      description: Example response
  securitySchemes:
    apiToken:
      description: "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information."
      in: header
      name: Authorization
      type: apiKey
    basicAuth:
      description: While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.
      scheme: basic
      type: http
    csrfToken:
      description: "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```"
      in: header
      name: X-CSRFToken
      type: apiKey
