openapi: 3.2.0
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2604.1.1**

    >

    > Date: **May 13, 2026**

    <div class="notification"> NOTE:<br>Some important API changes will be introduced. Please make sure to read the <a href="https://www.juniper.net/documentation/us/en/software/mist/api/http/guides/important-api-changes">announcements</a> </div>


    ---

    ## Additional Documentation

    * [Mist Automation Guide](https://www.juniper.net/documentation/us/en/software/mist/automation-integration/index.html)

    * [Mist Location SDK](https://www.juniper.net/documentation/us/en/software/mist/location-services/topics/concept/mist-how-get-mist-sdk.html)

    * [Mist Product Updates](https://www.juniper.net/documentation/us/en/software/mist/product-updates/)


    ## Helpful Resources

    * [API Sandbox and Exercises](https://api-class.mist.com/)

    * [Postman Collection, Runners and Webhook Samples](https://www.postman.com/juniper-mist/workspace/mist-systems-s-public-workspace)

    * [Python Script Examples](https://github.com/tmunzer/mist_library)

    * [API Demo Apps](https://apps.mist-lab.fr/)

    * [Juniper Blog](https://blogs.juniper.net/)


    ## Mist Web Browser Extension:

    * Google Chrome, Microsoft Edge and other Chromium-based browser: [Chrome Web Store](https://chromewebstore.google.com/detail/mist-extension/ejhpdcljeamillfhdihkkmoakanpbplh)

    * Firefox: [Firefox Add-ons](https://addons.mozilla.org/en-US/firefox/addon/mist-extension/)


    ---'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist Orgs Stats - Sites API
  version: 2604.1.1
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Global 05
  url: https://api.gc4.mist.com
- description: Mist EMEA 01
  url: https://api.eu.mist.com
- description: Mist EMEA 02
  url: https://api.gc3.mist.com
- description: Mist EMEA 03
  url: https://api.ac6.mist.com
- description: Mist EMEA 04
  url: https://api.gc6.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
- description: Mist APAC 02
  url: https://api.gc5.mist.com
- description: Mist APAC 03
  url: https://api.gc7.mist.com
security:
- apiToken: []
- basicAuth: []
- basicAuth: []
  csrfToken: []
tags:
- description: API Calls to retrieve statistics about the Organization Sites
  name: Orgs Stats - Sites
paths:
  /api/v1/orgs/{org_id}/stats/sites:
    parameters:
    - $ref: '#/components/parameters/org_id'
    get:
      description: Get List of Org Site Stats
      operationId: listOrgSiteStats
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/SitesArrayStats'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgSiteStats
      tags:
      - Orgs Stats - Sites
components:
  schemas:
    response_http403:
      additionalProperties: false
      properties:
        detail:
          examples:
          - You do not have permission to perform this action.
          type: string
      type: object
    org_id:
      examples:
      - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
      format: uuid
      readOnly: true
      type: string
    response_http400:
      additionalProperties: false
      properties:
        detail:
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
          type: string
      type: object
    stats_site:
      additionalProperties: false
      description: Site statistics
      properties:
        address:
          type: string
        alarmtemplate_id:
          format: uuid
          type:
          - string
          - 'null'
        analyticEnabled:
          type: boolean
        aptemplate_id:
          format: uuid
          type:
          - string
          - 'null'
        country_code:
          type: string
        created_time:
          $ref: '#/components/schemas/created_time'
        engagementEnabled:
          type: boolean
        gatewaytemplate_id:
          format: uuid
          type:
          - string
          - 'null'
        id:
          $ref: '#/components/schemas/id'
        lat:
          type: number
        latlng:
          $ref: '#/components/schemas/lat_lng'
        lng:
          type: number
        modified_time:
          $ref: '#/components/schemas/modified_time'
        msp_id:
          $ref: '#/components/schemas/msp_id'
        name:
          type: string
        networktemplate_id:
          format: uuid
          type:
          - string
          - 'null'
        notes:
          type: string
        num_ap:
          type: integer
        num_ap_connected:
          type: integer
        num_clients:
          type: integer
        num_devices:
          type: integer
        num_devices_connected:
          type: integer
        num_gateway:
          type: integer
        num_gateway_connected:
          type: integer
        num_switch:
          type: integer
        num_switch_connected:
          type: integer
        org_id:
          $ref: '#/components/schemas/org_id'
        rftemplate_id:
          format: uuid
          type:
          - string
          - 'null'
        secpolicy_id:
          format: uuid
          type:
          - string
          - 'null'
        sitegroup_ids:
          $ref: '#/components/schemas/site_stats_sitegroup_ids'
        sitetemplate_id:
          format: uuid
          type:
          - string
          - 'null'
        timezone:
          type: string
        tzoffset:
          type: integer
      required:
      - country_code
      - created_time
      - id
      - latlng
      - modified_time
      - name
      - num_ap
      - num_ap_connected
      - num_clients
      - num_devices
      - num_devices_connected
      - num_gateway
      - num_gateway_connected
      - num_switch
      - num_switch_connected
      - org_id
      - timezone
      - tzoffset
      type: object
    lat_lng:
      additionalProperties: false
      properties:
        lat:
          examples:
          - 37.295833
          format: double
          type: number
        lng:
          examples:
          - -122.032946
          format: double
          type: number
      required:
      - lat
      - lng
      type: object
    modified_time:
      description: When the object has been modified for the last time, in epoch
      format: double
      readOnly: true
      type: number
    msp_id:
      examples:
      - b9d42c2e-88ee-41f8-b798-f009ce7fe909
      format: uuid
      readOnly: true
      type: string
    response_http404:
      additionalProperties: false
      properties:
        id:
          type: string
      type: object
    response_http401:
      additionalProperties: false
      properties:
        detail:
          examples:
          - Authentication credentials were not provided.
          type: string
      type: object
    response_http429:
      additionalProperties: false
      properties:
        detail:
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          type: string
      type: object
    id:
      description: Unique ID of the object instance in the Mist Organization
      examples:
      - 53f10664-3ce8-4c27-b382-0ef66432349f
      format: uuid
      readOnly: true
      type: string
    site_stats_sitegroup_ids:
      items:
        format: uuid
        type: string
      type: array
    created_time:
      description: When the object has been created, in epoch
      format: double
      readOnly: true
      type: number
    stats_sites:
      items:
        $ref: '#/components/schemas/stats_site'
      type: array
  examples:
    SitesArrayStatsExample:
      value:
      - address: 1601 S De Anza Blvd, Cupertino, CA 95014, USA
        alarmtemplate_id: null
        analyticEnabled: true
        aptemplate_id: null
        country_code: US
        created_time: 1472591606
        engagementEnabled: true
        gatewaytemplate_id: e571f2a2-d748-4ad4-bd6c-895467957c21
        id: 83bc290a-b76d-47fa-a294-d34e47f30f7f
        lat: 37.295553
        latlng:
          lat: 37.295553
          lng: -122.033007
        lng: -122.033007
        modified_time: 1728057857
        msp_id: a9af4951-a1de-4520-b398-c95a58947349
        name: Live-Demo
        networktemplate_id: 964cb213-deb2-469d-8c1e-a5f8661c6886
        notes: This site is used for demonstration purposes.
        num_ap: 17
        num_ap_connected: 14
        num_clients: 14
        num_devices: 26
        num_devices_connected: 22
        num_gateway: 1
        num_gateway_connected: 1
        num_switch: 8
        num_switch_connected: 7
        org_id: b9814b40-ac4b-4424-86a8-b787eb68b86a
        rftemplate_id: 2c134c07-3c57-46b3-a53b-8aea92ed7234
        secpolicy_id: null
        sitegroup_ids:
        - 5644a432-eea9-4a2f-a30a-ddaf4dbc79cf
        - 5fc0f305-f626-49db-8869-10b87f201bba
        - 882796ef-190b-405e-98ef-cb487140cf64
        sitetemplate_id: null
        timezone: America/Los_Angeles
        tzoffset: 960
    HTTP400Example:
      value:
        detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
    HTTP429Example:
      value:
        detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
    HTTP403Example:
      value:
        detail: You do not have permission to perform this action.
    HTTP401Example:
      value:
        detail: Authentication credentials were not provided.
  parameters:
    page:
      in: query
      name: page
      schema:
        default: 1
        minimum: 1
        type: integer
    org_id:
      in: path
      name: org_id
      required: true
      schema:
        examples:
        - 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    limit:
      in: query
      name: limit
      schema:
        default: 100
        minimum: 0
        type: integer
  responses:
    HTTP401:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP401Example'
          schema:
            $ref: '#/components/schemas/response_http401'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP401Example'
          schema:
            $ref: '#/components/schemas/response_http401'
      description: Unauthorized
    HTTP400:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP400Example'
          schema:
            $ref: '#/components/schemas/response_http400'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP400Example'
          schema:
            $ref: '#/components/schemas/response_http400'
      description: Bad Syntax
    HTTP404:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/response_http404'
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/response_http404'
      description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
    SitesArrayStats:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/SitesArrayStatsExample'
          schema:
            $ref: '#/components/schemas/stats_sites'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/SitesArrayStatsExample'
          schema:
            $ref: '#/components/schemas/stats_sites'
      description: OK
    HTTP403:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP403Example'
          schema:
            $ref: '#/components/schemas/response_http403'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP403Example'
          schema:
            $ref: '#/components/schemas/response_http403'
      description: Permission Denied
    HTTP429:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP429Example'
          schema:
            $ref: '#/components/schemas/response_http429'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP429Example'
          schema:
            $ref: '#/components/schemas/response_http429'
      description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
  securitySchemes:
    apiToken:
      description: "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information."
      in: header
      name: Authorization
      type: apiKey
    basicAuth:
      description: While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.
      scheme: basic
      type: http
    csrfToken:
      description: "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```"
      in: header
      name: X-CSRFToken
      type: apiKey
