openapi: 3.2.0
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2604.1.1**

    >

    > Date: **May 13, 2026**

    <div class="notification"> NOTE:<br>Some important API changes will be introduced. Please make sure to read the <a href="https://www.juniper.net/documentation/us/en/software/mist/api/http/guides/important-api-changes">announcements</a> </div>


    ---

    ## Additional Documentation

    * [Mist Automation Guide](https://www.juniper.net/documentation/us/en/software/mist/automation-integration/index.html)

    * [Mist Location SDK](https://www.juniper.net/documentation/us/en/software/mist/location-services/topics/concept/mist-how-get-mist-sdk.html)

    * [Mist Product Updates](https://www.juniper.net/documentation/us/en/software/mist/product-updates/)


    ## Helpful Resources

    * [API Sandbox and Exercises](https://api-class.mist.com/)

    * [Postman Collection, Runners and Webhook Samples](https://www.postman.com/juniper-mist/workspace/mist-systems-s-public-workspace)

    * [Python Script Examples](https://github.com/tmunzer/mist_library)

    * [API Demo Apps](https://apps.mist-lab.fr/)

    * [Juniper Blog](https://blogs.juniper.net/)


    ## Mist Web Browser Extension:

    * Google Chrome, Microsoft Edge and other Chromium-based browser: [Chrome Web Store](https://chromewebstore.google.com/detail/mist-extension/ejhpdcljeamillfhdihkkmoakanpbplh)

    * Firefox: [Firefox Add-ons](https://addons.mozilla.org/en-US/firefox/addon/mist-extension/)


    ---'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist Sites Insights API
  version: 2604.1.1
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Global 05
  url: https://api.gc4.mist.com
- description: Mist EMEA 01
  url: https://api.eu.mist.com
- description: Mist EMEA 02
  url: https://api.gc3.mist.com
- description: Mist EMEA 03
  url: https://api.ac6.mist.com
- description: Mist EMEA 04
  url: https://api.gc6.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
- description: Mist APAC 02
  url: https://api.gc5.mist.com
- description: Mist APAC 03
  url: https://api.gc7.mist.com
security:
- apiToken: []
- basicAuth: []
- basicAuth: []
  csrfToken: []
tags:
- description: 'Insights is a feature that provides an overview of network experience across the entire site, access points, or clients.


    It offers useful information about current conditions, such as telemetry data from wired switches, edge devices, wireless clients, access points, network applications, and bluetooth low energy (ble) tags.


    These insights can be used to correct issues, make changes, and ensure a good network experience for users.'
  name: Sites Insights
paths:
  /api/v1/sites/{site_id}/insights:
    parameters:
    - $ref: '#/components/parameters/site_id'
    get:
      description: Get Site Insight Metrics
      operationId: getSiteInsightMetrics
      parameters:
      - description: Comma separated Metric names, e.g. `num_clients,num_aps`. See possible values at [List Insight Metrics](/#operations/listInsightMetrics)
        in: query
        name: metrics
        required: true
        schema:
          examples:
          - num_clients,num_aps
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/interval'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/InsightMetric'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteInsightMetrics
      tags:
      - Sites Insights
  /api/v1/sites/{site_id}/insights/ap/{device_id}/stats:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    get:
      description: Get AP Insight Metrics
      operationId: getSiteInsightMetricsForAP
      parameters:
      - description: Comma separated Metric names, e.g. `num_clients,num_stressed_clients`. See possible values at [List Insight Metrics](/#operations/listInsightMetrics)
        in: query
        name: metrics
        required: true
        schema:
          examples:
          - num_clients,num_stressed_clients
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/interval'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/DeviceMetric'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteInsightMetricsForAP
      tags:
      - Sites Insights
  /api/v1/sites/{site_id}/insights/client/{client_mac}:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
    get:
      description: Get Client Insight Metrics
      operationId: getSiteInsightMetricsForClient
      parameters:
      - description: Comma separated Metric names, e.g. `top-app-by-num_client,top-app-by-bytes`. See possible values at [List Insight Metrics](/#operations/listInsightMetrics)
        in: query
        name: metrics
        required: true
        schema:
          examples:
          - top-app-by-num_client,top-app-by-bytes
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/interval'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/InsightMetric'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteInsightMetricsForClient
      tags:
      - Sites Insights
  /api/v1/sites/{site_id}/insights/device/{device_mac}/{metric}:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/metric'
    - $ref: '#/components/parameters/device_mac'
    get:
      description: 'Get AP Insight Metrics

        See metrics possibilities at [List Insight Metrics](/#operations/listInsightMetrics)'
      operationId: getSiteInsightMetricsForDevice
      parameters:
      - description: Port ID of the device, e.g. `ge-0/0/1`. Can be used with metrics related to interfaces, e.g. `rx_bytes`.
        in: query
        name: port_id
        schema:
          examples:
          - ge-0/0/1
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/interval'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/DeviceMetric'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteInsightMetricsForDevice
      tags:
      - Sites Insights
  /api/v1/sites/{site_id}/insights/gateway/{device_id}/stats:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    get:
      description: Get Gateway Insight Metrics
      operationId: getSiteInsightMetricsForGateway
      parameters:
      - description: Comma separated Metric names, e.g. `tx_bps,rx_bps`. See possible values at [List Insight Metrics](/#operations/listInsightMetrics)
        in: query
        name: metrics
        required: true
        schema:
          examples:
          - tx_bps,rx_bps
          type: string
      - description: Port ID of the gateway device, e.g. `ge-0/0/1`
        in: query
        name: port_id
        schema:
          examples:
          - ge-0/0/1
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/interval'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/DeviceMetric'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteInsightMetricsForGateway
      tags:
      - Sites Insights
  /api/v1/sites/{site_id}/insights/mxedge/{device_mac}/{metric}:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/metric'
    - $ref: '#/components/parameters/device_mac'
    get:
      description: 'Get MxEdge Insight Metrics

        See metrics possibilities at [List Insight Metrics](/#operations/listInsightMetrics)'
      operationId: getSiteInsightMetricsForMxEdge
      parameters:
      - description: Port ID of the MxEdge device, e.g. `port0`. Can be used with metrics related to interfaces, e.g. `rx_bytes`.
        in: query
        name: port_id
        schema:
          examples:
          - port0
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/interval'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/DeviceMetric'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteInsightMetricsForMxEdge
      tags:
      - Sites Insights
  /api/v1/sites/{site_id}/insights/switch/{device_mac}/{metric}:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/metric'
    - $ref: '#/components/parameters/device_mac'
    get:
      description: 'Get Switch Insight Metrics

        See metrics possibilities at [List Insight Metrics](/#operations/listInsightMetrics)'
      operationId: getSiteInsightMetricsForSwitch
      parameters:
      - description: Port ID of the switch device, e.g. `ge-0/0/1`. Can be used with metrics related to interfaces, e.g. `rx_bytes`.
        in: query
        name: port_id
        schema:
          examples:
          - ge-0/0/1
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/interval'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/DeviceMetric'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteInsightMetricsForSwitch
      tags:
      - Sites Insights
components:
  parameters:
    metric:
      description: See [List Insight Metrics](/#operations/listInsightMetrics) for available metrics
      in: path
      name: metric
      required: true
      schema:
        type: string
    site_id:
      in: path
      name: site_id
      required: true
      schema:
        examples:
        - 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    page:
      in: query
      name: page
      schema:
        default: 1
        minimum: 1
        type: integer
    start:
      description: Start time (epoch timestamp in seconds, or relative string like "-1d", "-1w")
      in: query
      name: start
      schema:
        type: string
    device_id:
      in: path
      name: device_id
      required: true
      schema:
        examples:
        - 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    end:
      description: End time (epoch timestamp in seconds, or relative string like "-1d", "-2h", "now")
      in: query
      name: end
      schema:
        type: string
    device_mac:
      in: path
      name: device_mac
      required: true
      schema:
        examples:
        - 0000000000ab
        pattern: ^[0-9a-fA-F]{12}$
        type: string
    interval:
      description: Aggregation works by giving a time range plus interval (e.g. 1d, 1h, 10m) where aggregation function would be applied to.
      in: query
      name: interval
      schema:
        examples:
        - 10m
        type: string
    client_mac:
      in: path
      name: client_mac
      required: true
      schema:
        examples:
        - 0000000000ab
        pattern: ^[0-9a-fA-F]{12}$
        type: string
    limit:
      in: query
      name: limit
      schema:
        default: 100
        minimum: 0
        type: integer
    duration:
      description: Duration like 7d, 2w
      in: query
      name: duration
      schema:
        default: 1d
        examples:
        - 10m
        type: string
  schemas:
    insight_metrics_results_item:
      anyOf:
      - type: number
      - additionalProperties: true
        type: object
    response_http403:
      additionalProperties: false
      properties:
        detail:
          examples:
          - You do not have permission to perform this action.
          type: string
      type: object
    response_http400:
      additionalProperties: false
      properties:
        detail:
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
          type: string
      type: object
    insight_metrics_results:
      description: Results depends on the `metric` - some return numbers (e.g. bytes, ap-count), others return objects
      items:
        $ref: '#/components/schemas/insight_metrics_results_item'
      type: array
      uniqueItems: true
    strings:
      items:
        type: string
      type: array
      uniqueItems: true
    response_http404:
      additionalProperties: false
      properties:
        id:
          type: string
      type: object
    response_device_metrics:
      additionalProperties: false
      properties:
        end:
          type: integer
        interval:
          type: integer
        limit:
          type: integer
        page:
          type: integer
        results:
          $ref: '#/components/schemas/response_device_metrics_results'
        rt:
          $ref: '#/components/schemas/strings'
        start:
          type: integer
      required:
      - end
      - interval
      - results
      - start
      type: object
    response_http401:
      additionalProperties: false
      properties:
        detail:
          examples:
          - Authentication credentials were not provided.
          type: string
      type: object
    response_http429:
      additionalProperties: false
      properties:
        detail:
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          type: string
      type: object
    insight_metrics:
      additionalProperties: false
      properties:
        end:
          type: integer
        interval:
          type: integer
        limit:
          type: integer
        results:
          $ref: '#/components/schemas/insight_metrics_results'
        start:
          type: integer
      required:
      - end
      - interval
      - start
      type: object
    response_device_metrics_results_items:
      oneOf:
      - type: string
      - type: integer
    response_device_metrics_results:
      items:
        $ref: '#/components/schemas/response_device_metrics_results_items'
      type: array
  responses:
    HTTP401:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP401Example'
          schema:
            $ref: '#/components/schemas/response_http401'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP401Example'
          schema:
            $ref: '#/components/schemas/response_http401'
      description: Unauthorized
    HTTP400:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP400Example'
          schema:
            $ref: '#/components/schemas/response_http400'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP400Example'
          schema:
            $ref: '#/components/schemas/response_http400'
      description: Bad Syntax
    InsightMetric:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/InsightMetricExample'
          schema:
            $ref: '#/components/schemas/insight_metrics'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/InsightMetricExample'
          schema:
            $ref: '#/components/schemas/insight_metrics'
      description: OK
    HTTP404:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/response_http404'
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/response_http404'
      description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
    HTTP403:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP403Example'
          schema:
            $ref: '#/components/schemas/response_http403'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP403Example'
          schema:
            $ref: '#/components/schemas/response_http403'
      description: Permission Denied
    HTTP429:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP429Example'
          schema:
            $ref: '#/components/schemas/response_http429'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP429Example'
          schema:
            $ref: '#/components/schemas/response_http429'
      description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
    DeviceMetric:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/DeviceMetricExample'
          schema:
            $ref: '#/components/schemas/response_device_metrics'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/DeviceMetricExample'
          schema:
            $ref: '#/components/schemas/response_device_metrics'
      description: OK
  examples:
    HTTP400Example:
      value:
        detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
    HTTP429Example:
      value:
        detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
    InsightMetricExample:
      value:
        end: 0
        interval: 0
        results:
        - {}
        start: 0
    HTTP403Example:
      value:
        detail: You do not have permission to perform this action.
    DeviceMetricExample:
      value:
        end: 1604347200
        interval: 3600
        limit: 168
        page: 1
        results:
        - 10
        - 11
        - 12
        - 12
        - 10
        - 9
        - 9
        - 9
        - 10
        - 10
        - 11
        - 11
        - 11
        - 11
        - 11
        - 11
        - 11
        - 10
        - 11
        - 11
        - 10
        - 11
        - 11
        - 10
        rt:
        - '2020-11-01 20:00:00+00:00'
        - '2020-11-01 21:00:00+00:00'
        - '2020-11-01 22:00:00+00:00'
        - '2020-11-01 23:00:00+00:00'
        - '2020-11-02 00:00:00+00:00'
        - '2020-11-02 01:00:00+00:00'
        - '2020-11-02 02:00:00+00:00'
        - '2020-11-02 03:00:00+00:00'
        - '2020-11-02 04:00:00+00:00'
        - '2020-11-02 05:00:00+00:00'
        - '2020-11-02 06:00:00+00:00'
        - '2020-11-02 07:00:00+00:00'
        - '2020-11-02 08:00:00+00:00'
        - '2020-11-02 09:00:00+00:00'
        - '2020-11-02 10:00:00+00:00'
        - '2020-11-02 11:00:00+00:00'
        - '2020-11-02 12:00:00+00:00'
        - '2020-11-02 13:00:00+00:00'
        - '2020-11-02 14:00:00+00:00'
        - '2020-11-02 15:00:00+00:00'
        - '2020-11-02 16:00:00+00:00'
        - '2020-11-02 17:00:00+00:00'
        - '2020-11-02 18:00:00+00:00'
        - '2020-11-02 19:00:00+00:00'
        start: 1604260800
    HTTP401Example:
      value:
        detail: Authentication credentials were not provided.
  securitySchemes:
    apiToken:
      description: "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information."
      in: header
      name: Authorization
      type: apiKey
    basicAuth:
      description: While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.
      scheme: basic
      type: http
    csrfToken:
      description: "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```"
      in: header
      name: X-CSRFToken
      type: apiKey
