openapi: 3.2.0
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2604.1.1**

    >

    > Date: **May 13, 2026**

    <div class="notification"> NOTE:<br>Some important API changes will be introduced. Please make sure to read the <a href="https://www.juniper.net/documentation/us/en/software/mist/api/http/guides/important-api-changes">announcements</a> </div>


    ---

    ## Additional Documentation

    * [Mist Automation Guide](https://www.juniper.net/documentation/us/en/software/mist/automation-integration/index.html)

    * [Mist Location SDK](https://www.juniper.net/documentation/us/en/software/mist/location-services/topics/concept/mist-how-get-mist-sdk.html)

    * [Mist Product Updates](https://www.juniper.net/documentation/us/en/software/mist/product-updates/)


    ## Helpful Resources

    * [API Sandbox and Exercises](https://api-class.mist.com/)

    * [Postman Collection, Runners and Webhook Samples](https://www.postman.com/juniper-mist/workspace/mist-systems-s-public-workspace)

    * [Python Script Examples](https://github.com/tmunzer/mist_library)

    * [API Demo Apps](https://apps.mist-lab.fr/)

    * [Juniper Blog](https://blogs.juniper.net/)


    ## Mist Web Browser Extension:

    * Google Chrome, Microsoft Edge and other Chromium-based browser: [Chrome Web Store](https://chromewebstore.google.com/detail/mist-extension/ejhpdcljeamillfhdihkkmoakanpbplh)

    * Firefox: [Firefox Add-ons](https://addons.mozilla.org/en-US/firefox/addon/mist-extension/)


    ---'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist Orgs WLAN Templates API
  version: 2604.1.1
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Global 05
  url: https://api.gc4.mist.com
- description: Mist EMEA 01
  url: https://api.eu.mist.com
- description: Mist EMEA 02
  url: https://api.gc3.mist.com
- description: Mist EMEA 03
  url: https://api.ac6.mist.com
- description: Mist EMEA 04
  url: https://api.gc6.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
- description: Mist APAC 02
  url: https://api.gc5.mist.com
- description: Mist APAC 03
  url: https://api.gc7.mist.com
security:
- apiToken: []
- basicAuth: []
- basicAuth: []
  csrfToken: []
tags:
- description: "A WLAN template is a collection of WLAN policies, Tunneling Policies, and WxLAN policies. \nIt is used for creating and managing WLAN configurations at an organizational level. \n\n\nWLAN templates allow for modular and scalable configuration by grouping together the settings for multiple SSIDs. \nThese templates can be applied to specific sites, site groups, or the entire organization, making it easier to manage and automate configuration across multiple locations. \n\n\nWLAN templates are especially useful for organizations with multiple sites or plans for future expansion."
  name: Orgs WLAN Templates
paths:
  /api/v1/orgs/{org_id}/templates:
    parameters:
    - $ref: '#/components/parameters/org_id'
    get:
      description: Get List of Org WLAN Templates
      operationId: listOrgTemplates
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/TemplatesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgTemplates
      tags:
      - Orgs WLAN Templates
    post:
      description: Create Org Template
      operationId: createOrgTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Template'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgTemplate
      tags:
      - Orgs WLAN Templates
  /api/v1/orgs/{org_id}/templates/{template_id}:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/template_id'
    delete:
      description: Delete Org Template
      operationId: deleteOrgTemplate
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgTemplate
      tags:
      - Orgs WLAN Templates
    get:
      description: Get Org Template Details
      operationId: getOrgTemplate
      responses:
        '200':
          $ref: '#/components/responses/Template'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgTemplate
      tags:
      - Orgs WLAN Templates
    put:
      description: Update Org Template
      operationId: updateOrgTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Template'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgTemplate
      tags:
      - Orgs WLAN Templates
  /api/v1/orgs/{org_id}/templates/{template_id}/clone:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/template_id'
    post:
      description: Clone Org Template
      operationId: cloneOrgTemplate
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  name: Cloned
            schema:
              $ref: '#/components/schemas/name_string'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Template'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: cloneOrgTemplate
      tags:
      - Orgs WLAN Templates
components:
  schemas:
    response_http403:
      additionalProperties: false
      properties:
        detail:
          examples:
          - You do not have permission to perform this action.
          type: string
      type: object
    template_exceptions_sitegroup_ids:
      description: List of sitegroup ids
      items:
        format: uuid
        type: string
      type: array
    org_id:
      examples:
      - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
      format: uuid
      readOnly: true
      type: string
    response_http400:
      additionalProperties: false
      properties:
        detail:
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
          type: string
      type: object
    template:
      description: Template
      properties:
        applies:
          $ref: '#/components/schemas/template_applies'
        created_time:
          $ref: '#/components/schemas/created_time'
        deviceprofile_ids:
          $ref: '#/components/schemas/template_deviceprofile_ids'
        exceptions:
          $ref: '#/components/schemas/template_exceptions'
        filter_by_deviceprofile:
          description: Whether to further filter by Device Profile
          type: boolean
        id:
          $ref: '#/components/schemas/id'
        modified_time:
          $ref: '#/components/schemas/modified_time'
        name:
          type: string
        org_id:
          $ref: '#/components/schemas/org_id'
      required:
      - name
      type: object
    template_applies_sitegroup_ids:
      description: List of sitegroup ids
      items:
        format: uuid
        type: string
      type: array
    modified_time:
      description: When the object has been modified for the last time, in epoch
      format: double
      readOnly: true
      type: number
    template_applies:
      additionalProperties: false
      description: Where this template should be applied to, can be org_id, site_ids, sitegroup_ids
      properties:
        org_id:
          $ref: '#/components/schemas/template_applies_org_id'
        site_ids:
          $ref: '#/components/schemas/template_applies_site_ids'
        sitegroup_ids:
          $ref: '#/components/schemas/template_applies_sitegroup_ids'
      type: object
    response_http404:
      additionalProperties: false
      properties:
        id:
          type: string
      type: object
    templates:
      items:
        $ref: '#/components/schemas/template'
      type: array
    response_http401:
      additionalProperties: false
      properties:
        detail:
          examples:
          - Authentication credentials were not provided.
          type: string
      type: object
    response_http429:
      additionalProperties: false
      properties:
        detail:
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          type: string
      type: object
    id:
      description: Unique ID of the object instance in the Mist Organization
      examples:
      - 53f10664-3ce8-4c27-b382-0ef66432349f
      format: uuid
      readOnly: true
      type: string
    template_exceptions:
      additionalProperties: false
      description: Where this template should not be applied to (takes precedence)
      properties:
        site_ids:
          $ref: '#/components/schemas/template_exceptions_site_ids'
        sitegroup_ids:
          $ref: '#/components/schemas/template_exceptions_sitegroup_ids'
      type: object
    name_string:
      properties:
        name:
          type: string
      type: object
    created_time:
      description: When the object has been created, in epoch
      format: double
      readOnly: true
      type: number
    template_applies_site_ids:
      description: List of site ids
      items:
        format: uuid
        type: string
      type: array
    template_exceptions_site_ids:
      description: List of site ids
      items:
        format: uuid
        type: string
      type: array
    template_applies_org_id:
      examples:
      - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
      format: uuid
      readOnly: true
      type: string
    template_deviceprofile_ids:
      description: List of Device Profile ids
      items:
        format: uuid
        type: string
      type: array
  parameters:
    page:
      in: query
      name: page
      schema:
        default: 1
        minimum: 1
        type: integer
    template_id:
      in: path
      name: template_id
      required: true
      schema:
        examples:
        - 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    org_id:
      in: path
      name: org_id
      required: true
      schema:
        examples:
        - 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    limit:
      in: query
      name: limit
      schema:
        default: 100
        minimum: 0
        type: integer
  responses:
    HTTP401:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP401Example'
          schema:
            $ref: '#/components/schemas/response_http401'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP401Example'
          schema:
            $ref: '#/components/schemas/response_http401'
      description: Unauthorized
    HTTP400:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP400Example'
          schema:
            $ref: '#/components/schemas/response_http400'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP400Example'
          schema:
            $ref: '#/components/schemas/response_http400'
      description: Bad Syntax
    OK:
      description: OK
    TemplatesArray:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/TemplatesArrayExample'
          schema:
            $ref: '#/components/schemas/templates'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/TemplatesArrayExample'
          schema:
            $ref: '#/components/schemas/templates'
      description: OK
    HTTP404:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/response_http404'
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/response_http404'
      description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
    Template:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/TemplateExample'
          schema:
            $ref: '#/components/schemas/template'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/TemplateExample'
          schema:
            $ref: '#/components/schemas/template'
      description: OK
    HTTP403:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP403Example'
          schema:
            $ref: '#/components/schemas/response_http403'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP403Example'
          schema:
            $ref: '#/components/schemas/response_http403'
      description: Permission Denied
    HTTP429:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP429Example'
          schema:
            $ref: '#/components/schemas/response_http429'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP429Example'
          schema:
            $ref: '#/components/schemas/response_http429'
      description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
  examples:
    HTTP400Example:
      value:
        detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
    TemplatesArrayExample:
      value:
      - applies:
          org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
          site_ids:
          - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
          sitegroup_ids:
          - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        created_time: 0
        deviceprofile_ids:
        - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        exceptions:
          site_ids:
          - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
          sitegroup_ids:
          - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        filter_by_deviceprofile: true
        id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        modified_time: 0
        name: string
        org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
    HTTP429Example:
      value:
        detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
    TemplateExample:
      value:
        applies:
          org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
          site_ids:
          - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
          sitegroup_ids:
          - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        created_time: 0
        deviceprofile_ids:
        - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        exceptions:
          site_ids:
          - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
          sitegroup_ids:
          - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        filter_by_deviceprofile: true
        id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        modified_time: 0
        name: string
        org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
    HTTP403Example:
      value:
        detail: You do not have permission to perform this action.
    HTTP401Example:
      value:
        detail: Authentication credentials were not provided.
  securitySchemes:
    apiToken:
      description: "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information."
      in: header
      name: Authorization
      type: apiKey
    basicAuth:
      description: While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.
      scheme: basic
      type: http
    csrfToken:
      description: "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```"
      in: header
      name: X-CSRFToken
      type: apiKey
